<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>GMK</title>
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/basic.js"></script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- wrap -->
		<div id="wrap">
			<!--
			 class="snbright-style"
			 class="center-style"
			 class="side-hidden"
			-->

			<!-- header -->
			<div id="header">
				<div class="back">
					<h1><img src="../images/logo.png" alt="logo"></h1>
					<div class="hdata">
						<ul class="gnb">
							<li><a href="notice_list.html">컨텐츠 관리</a></li>
							<li><a href="carmanager_list.html">카매니저 관리</a></li>
							<li><a href="contract_manage_list.html">계약 관리</a></li>
							<li><a onclick="alert('퍼블리싱 현행화 필요');return false;">차량 관리</a></li>
							<li><a href="help_list.html">유지보수</a></li>
							<li><a href="car_list.html">프로모션 관리</a></li>
							<li class="on"><a href="manager_list.html">관리자 관리</a></li>
							<!-- <li><a href="request_list.html">GMK 요청사항</a></li> -->
							<li><a href="report_monthly_list.html">보고서 관리</a></li>
							<li><a href="infra_server_list.html">인프라 관리</a></li><!-- 2020-06-08 -->
							<li><a href="account_list.html">개인정보 보호</a></li><!-- 2020-07-09 -->
						</ul>
						<div class="right pd10">
							<span class="btnSet onlytxt"><input type="button" value="basic style" class="lsbasic" /></span>
							<span class="btnSet onlytxt"><input type="button" value="right style" class="lsright" /></span>
							<span class="btnSet onlytxt"><input type="button" value="center style" class="lscenter" /></span>
						</div>
					</div>
				</div>
			</div>
			<!-- //header -->

			<hr/>
			<!-- container -->
			<div id="container">
				<div class="back">
					<!-- snb -->
					<div class="snb">
						<strong>MENU</strong>
						<ul>
							<li><span><a href="manager_list.html">관리자</a></span></li>
							<!-- <li><span><a href="manager_m_list.html">관리자 (모바일)</a></span></li> -->
							<li><span><a href="manager_history.html">관리자 이력</a></span></li>
							<li><span><a href="code.html">코드관리</a></span></li>
						</ul>
						<strong>USER INFORMATION</strong>
						<ul>
							<li class="notlink user-date">3:00 PM | 12 May 2015</li>
							<li class="user-push"><span><a href="#none">Push Messege</a></span></li>
							<li class="user-setting"><span><a href="#none">Setting</a></span></li>
							<li class="user-logout"><span><a href="#">Logout</a></span></li>
						</ul>
					</div>
					<!---->

					<hr/>
					<div class="com-layout">
						<h2>
							<span><a href="main.html">환경설정</a></span>
							<span>코드관리</span>
							<input type="button" value="<" class="side-button" />
						</h2>
						<!-- contents -->
						<div class="contents">
							<div class="databox-line">
								<table cellpadding="0" cellspacing="0" border="0" class="tbvs1">
									<colgroup>
										<col width="150" />
										<col />
										<col width="150" />
										<col />
										<col width="100" />
										<col width="120" />
										<col width="100" />
										<col width="120" />
									</colgroup>
									<tbody>
										<tr>
											<th>코드 번호</th>
											<td><input type="text" class="wFull" /></td>
											<th>코드 명</th>
											<td><input type="text" class="wFull" /></td>
											<th>수정담당자</th>
											<td>오유진</td>
											<th>수정일자</th>
											<td>2020-06-08</td>
										</tr>
										<tr>
											<th>코드 설명</th>
											<td colspan="7">
												<input type="text" class="wFull" />
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!---->
							<div class="databox-line mt10">
								<div class="headBox tRight">
									<a href="code_detail.html" class="btnColor bRed">상세추가</a>
								</div>
								<!-- list -->
								<table cellpadding="0" cellspacing="0" border="0" class="tbls1">
									<colgroup>
										<col width="200" />
										<col width="200" />
										<col width="500" />
										<col width="80" />
										<col width="80" />
										<col width="150" />
										<col width="80" />
									</colgroup>
									<thead>
										<tr>
											<th>코드 상세 번호</th>
											<th>코드 상세명</th>
											<th>코드 상세 설명</th>
											<th>우선순위</th>
											<th>사용여부</th>
											<th>하위코드번호</th>
											<th>관리</th>
										</tr>
									</thead>
									<tbody>
										<!-- Loop -->
										<tr>
											<td><input type="text" class="wFull" /></td>
											<td><input type="text" class="wFull" /></td>
											<td><input type="text" class="wFull" /></td>
											<td><input type="text" class="wFull" /></td>
											<td>
												<select class="w50">
													<option>Y</option>
													<option>N</option>
												</select>
											</td>
											<td><input type="text" class="wFull" /></td>
											<td><button class="btnColor bSky">삭제</button></td>
										</tr>
										<!-- //Loop -->
										<tr>
											<td><input type="text" class="wFull" /></td>
											<td><input type="text" class="wFull" /></td>
											<td><input type="text" class="wFull" /></td>
											<td><input type="text" class="wFull" /></td>
											<td>
												<select class="w50">
													<option>Y</option>
													<option>N</option>
												</select>
											</td>
											<td><input type="text" class="wFull" /></td>
											<td><button class="btnColor bSky">삭제</button></td>
										</tr>
										<tr>
											<td><input type="text" class="wFull" /></td>
											<td><input type="text" class="wFull" /></td>
											<td><input type="text" class="wFull" /></td>
											<td><input type="text" class="wFull" /></td>
											<td>
												<select class="w50">
													<option>Y</option>
													<option>N</option>
												</select>
											</td>
											<td><input type="text" class="wFull" /></td>
											<td><button class="btnColor bSky">삭제</button></td>
										</tr>
										<tr>
											<td><input type="text" class="wFull" /></td>
											<td><input type="text" class="wFull" /></td>
											<td><input type="text" class="wFull" /></td>
											<td><input type="text" class="wFull" /></td>
											<td>
												<select class="w50">
													<option>Y</option>
													<option>N</option>
												</select>
											</td>
											<td><input type="text" class="wFull" /></td>
											<td><button class="btnColor bSky">삭제</button></td>
										</tr>
										<tr>
											<td><input type="text" class="wFull" /></td>
											<td><input type="text" class="wFull" /></td>
											<td><input type="text" class="wFull" /></td>
											<td><input type="text" class="wFull" /></td>
											<td>
												<select class="w50">
													<option>Y</option>
													<option>N</option>
												</select>
											</td>
											<td><input type="text" class="wFull" /></td>
											<td><button class="btnColor bSky">삭제</button></td>
										</tr>
										<tr>
											<td><input type="text" class="wFull" /></td>
											<td><input type="text" class="wFull" /></td>
											<td><input type="text" class="wFull" /></td>
											<td><input type="text" class="wFull" /></td>
											<td>
												<select class="w50">
													<option>Y</option>
													<option>N</option>
												</select>
											</td>
											<td><input type="text" class="wFull" /></td>
											<td><button class="btnColor bSky">삭제</button></td>
										</tr>
									</tbody>
								</table>
								<!---->
							</div>
							<!---->
							<div class="btnLayout">
								<div class="right">
									<span class="btnSet list"><a href="code.html">목록</a></span>
									<span class="btnSet save"><input type="button" value="저장"></span>
									<span class="btnSet delete"><button>삭제</button></span>
								</div>
							</div>
						</div>
						<!-- //contents -->
					</div>
				</div>
			</div>
			<!-- //container -->

			<hr/>
			<!-- footer -->
			<div id="footer">
				<div class="back">
					<p>Copyright 2005. THINK TREE.All Rights Reserved.</p>
					<div>
						<span class="btnSet pagetop"><a>TOP</a></span>
					</div>
				</div>
			</div>
			<!-- //footer -->

		</div>
		<!-- //wrap -->
	</body>
</html>
