<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
		<title>GMK Admin</title>
		<link rel="shortcut icon" href="../images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-1.2.1.js" integrity="sha256-Q7mPbQKdEsahYjMCstA7cHmQmWQSAJZcAGWC2C00G4U=" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="../js/basic.js"></script>
		<style>
			body {background:#fff;}
			#wrap {padding:0 0 0 0;}
			.cptTable {padding:10px;}
			.cptTable table {width:100%;border:1px solid #eee;border-collapse:collapse;}
			.cptTable table th {border:1px solid #dddddd;padding:0.5rem;text-align:center;font-weight:bold;color:#111;}
			.cptTable table td {border:1px solid #dddddd;padding:0.5rem;}
			.cptTable table td button {vertical-align:top;}
			.inputBox {margin-bottom:4px;}
		</style>
	</head>
	<body>
		<div id="wrap">
			<div class="cptTable">
				<table>
					<tr>
						<th>BUTTON</th>
					</tr>
					<tr>
						<td></td>
					</tr>
					<tr>
						<th>INPUT</th>
					</tr>
					<tr>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>
