<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>GMK</title>
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/basic.js"></script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- wrap -->
		<div id="wrap">
			<!--
			 class="snbright-style"
			 class="center-style"
			 class="side-hidden"
			-->

			<!-- header -->
			<div id="header">
				<div class="back">
					<h1><img src="../images/logo.png" alt="logo"></h1>
					<div class="hdata">
						<ul class="gnb">
							<li><a href="notice_list.html">컨텐츠 관리</a></li>
							<li><a href="carmanager_list.html">카매니저 관리</a></li>
							<li class="on"><a href="contract_manage_list.html">계약 관리</a></li>
							<li><a onclick="alert('퍼블리싱 현행화 필요');return false;">차량 관리</a></li>
							<li><a href="help_list.html">유지보수</a></li>
							<li><a href="car_list.html">프로모션 관리</a></li>
							<li><a href="manager_list.html">관리자 관리</a></li>
							<!-- <li><a href="request_list.html">GMK 요청사항</a></li> -->
							<li><a href="report_monthly_list.html">보고서 관리</a></li>
							<li><a href="infra_server_list.html">인프라 관리</a></li><!-- 2020-06-08 -->
							<li><a href="account_list.html">개인정보 보호</a></li><!-- 2020-07-09 -->
						</ul>
						<div class="right pd10">
							<span class="btnSet onlytxt"><input type="button" value="basic style" class="lsbasic" /></span>
							<span class="btnSet onlytxt"><input type="button" value="right style" class="lsright" /></span>
							<span class="btnSet onlytxt"><input type="button" value="center style" class="lscenter" /></span>
						</div>
					</div>
				</div>
			</div>
			<!-- //header -->

			<hr/>
			<!-- container -->
			<div id="container">
				<div class="back">
					<!-- snb -->
					<div class="snb">
						<strong>MENU</strong>
						<ul>
							<li><span><a href="contract_manage_list.html">계약현황</a></span></li>
							<li><span><a href="contract_wait_list.html">전송대기 계약서</a></span></li>
						</ul>
						<strong>USER INFORMATION</strong>
						<ul>
							<li class="notlink user-date">3:00 PM | 12 May 2015</li>
							<li class="user-push"><span><a href="#none">Push Messege</a></span></li>
							<li class="user-setting"><span><a href="#none">Setting</a></span></li>
							<li class="user-logout"><span><a href="#">Logout</a></span></li>
						</ul>
					</div>
					<!---->

					<hr/>
					<div class="com-layout">
						<h2>
							<span><a href="main.html">계약관리</a></span>
							<span>전송대기 계약서</span>
							<input type="button" value="<" class="side-button" />
						</h2>
						<!-- contents -->
						<div class="contents">
							<div class="databox-line">
							<div class="headBox tRight">
								<strong class="left mt5">
									<span>
										현재 시간 00:00:00
									<span class="ml10">/ </span>상태
									<span class="ml10 ftRed">&#9608; 이상</span>
									<span class="ml10 ftGreen" style="display:none">&#9608; 정상</span>
									</span>
								</strong>
								<input id="initBtn" type="button" value="새로고침" class="btnColor bRed"/>
							</div>
							<!-- list -->
								<table cellpadding="0" cellspacing="0" border="0" class="tbls1">
									<colgroup>
										<col width="50" />
										<col width="100"/>
										<col width="100" />
										<col width="100" />
										<col width="100" />
										<col width="150" />
										<col width="100" />
										<col width="100" />
										<col width="50" />
									</colgroup>
									<thead>
										<tr>
											<th>No <input type="button" value="up" class="sort sup" /></th>
											<th>서식 번호 <input type="button" value="up" class="sort sup" /></th>
											<th>파일명 <input type="button" value="up" class="sort sup" /></th>
											<th>사원번호 <input type="button" value="up" class="sort sup" /></th>
											<th>사원이름 <input type="button" value="up" class="sort sup" /></th>
											<th>전송요청시간 <input type="button" value="up" class="sort sup" /></th>
											<th>상태 EC<input type="button" value="up" class="sort sup" /></th>
											<th>상태 CT<input type="button" value="up" class="sort sup" /></th>
											<th>수정횟수 <input type="button" value="up" class="sort sup" /></th>
										</tr>
									</thead>
									<tbody>
										<!-- Loop -->
										<tr>
											<td>100</td>
											<td>E00000000</td>
											<td>filename</td>
											<td>k1234567</td>
											<td>홍길동</td>
											<td>2016-12-31 00:00:00</td>
											<td>DMS로 전송완료</td>
											<td>최초작성[MC]</td>
											<td>2</td>
										</tr>
										<!-- //Loop -->
										<tr>
											<td>99</td>
											<td>E00000000</td>
											<td>filename</td>
											<td>k1234567</td>
											<td>홍길동</td>
											<td>2016-12-31 00:00:00</td>
											<td>DMS로 전송완료</td>
											<td>최초작성[MC]</td>
											<td>1</td>
										</tr>
										<tr>
											<td>98</td>
											<td>E00000000</td>
											<td>filename</td>
											<td>k1234567</td>
											<td>홍길동</td>
											<td>2016-12-31 00:00:00</td>
											<td>DMS로 전송완료</td>
											<td>최초작성[MC]</td>
											<td>2</td>
										</tr>
										<tr>
											<td>97</td>
											<td>E00000000</td>
											<td>filename</td>
											<td>k1234567</td>
											<td>홍길동</td>
											<td>2016-12-31 00:00:00</td>
											<td>DMS로 전송완료</td>
											<td>최초작성[MC]</td>
											<td>1</td>
										</tr>
										<tr>
											<td>96</td>
											<td>E00000000</td>
											<td>filename</td>
											<td>k123456</td>
											<td>홍길동</td>
											<td>2016-12-31 00:00:00</td>
											<td>DMS로 전송완료</td>
											<td>최초작성[MC]</td>
											<td>1</td>
										</tr>
										<tr>
											<td>95</td>
											<td>E00000000</td>
											<td>filename</td>
											<td>k1234567</td>
											<td>홍길동</td>
											<td>2016-12-31 00:00:00</td>
											<td>DMS로 전송완료</td>
											<td>최초작성[MC]</td>
											<td>1</td>
										</tr>
										<tr>
											<td>94</td>
											<td>E00000000</td>
											<td>filename</td>
											<td>k1234567</td>
											<td>홍길동</td>
											<td>2016-12-31 00:00:00</td>
											<td>DMS로 전송완료</td>
											<td>최초작성[MC]</td>
											<td>2</td>
										</tr>
										<tr>
											<td>93</td>
											<td>E00000000</td>
											<td>filename</td>
											<td>k1234567</td>
											<td>홍길동</td>
											<td>2016-12-31 00:00:00</td>
											<td>DMS로 전송완료</td>
											<td>배정의뢰/완료[15]</td>
											<td>2</td>
										</tr>
										<tr>
											<td>92</td>
											<td>E00000000</td>
											<td>filename</td>
											<td>k1234567</td>
											<td>홍길동</td>
											<td>2016-12-31 00:00:00</td>
											<td>DMS로 전송완료</td>
											<td>배정의뢰/완료[15]</td>
											<td>2</td>
										</tr>
										<tr>
											<td>91</td>
											<td>E00000000</td>
											<td>filename</td>
											<td>k1234567</td>
											<td>홍길동</td>
											<td>2016-12-31 00:00:00</td>
											<td>DMS로 전송완료</td>
											<td>품의작성[18]</td>
											<td>2</td>
										</tr>
										<tr>
											<td>90</td>
											<td>E00000000</td>
											<td>filename</td>
											<td>k1234567</td>
											<td>홍길동</td>
											<td>2016-12-31 00:00:00</td>
											<td>DMS로 전송완료</td>
											<td>품의작성[18]</td>
											<td>2</td>
										</tr>
										<tr>
											<td>89</td>
											<td>E00000000</td>
											<td>filename</td>
											<td>k1234567</td>
											<td>홍길동</td>
											<td>2016-12-31 00:00:00</td>
											<td>DMS로 전송완료</td>
											<td>최초작성[MC]</td>
											<td>1</td>
										</tr>
										<tr>
											<td>88</td>
											<td>E00000000</td>
											<td>filename</td>
											<td>k1234567</td>
											<td>홍길동</td>
											<td>2016-12-31 00:00:00</td>
											<td>DMS로 전송완료</td>
											<td>품의작성[18]</td>
											<td>2</td>
										</tr>
										<tr>
											<td>87</td>
											<td>E00000000</td>
											<td>filename</td>
											<td>k1234567</td>
											<td>홍길동</td>
											<td>2016-12-31 00:00:00</td>
											<td>DMS로 전송완료</td>
											<td>품의작성[18]</td>
											<td>1</td>
										</tr>
										<tr>
											<td>86</td>
											<td>E00000000</td>
											<td>filename</td>
											<td>k1234567</td>
											<td>홍길동</td>
											<td>2016-12-31 00:00:00</td>
											<td>DMS로 전송완료</td>
											<td>배정의뢰/완료[15]</td>
											<td>2</td>
										</tr>
										<tr>
											<td>85</td>
											<td>E00000000</td>
											<td>filename</td>
											<td>k1234567</td>
											<td>홍길동</td>
											<td>2016-12-31 00:00:00</td>
											<td>DMS로 전송완료</td>
											<td>배정의뢰/완료[15]</td>
											<td>2</td>
										</tr>
										<tr>
											<td>84</td>
											<td>E00000000</td>
											<td>filename</td>
											<td>k1234567</td>
											<td>홍길동</td>
											<td>2016-12-31 00:00:00</td>
											<td>DMS로 전송완료</td>
											<td>최초작성[MC]</td>
											<td>2</td>
										</tr>
										<tr>
											<td>83</td>
											<td>E00000000</td>
											<td>filename</td>
											<td>k1234567</td>
											<td>홍길동</td>
											<td>2016-12-31 00:00:00</td>
											<td>DMS로 전송완료</td>
											<td>최초작성[MC]</td>
											<td>2</td>
										</tr>
										<tr>
											<td>82</td>
											<td>E00000000</td>
											<td>filename</td>
											<td>k1234567</td>
											<td>홍길동</td>
											<td>2016-12-31 00:00:00</td>
											<td>DMS로 전송완료</td>
											<td>최초작성[MC]</td>
											<td>2</td>
										</tr>
										<tr>
											<td>81</td>
											<td>E00000000</td>
											<td>filename</td>
											<td>k1234567</td>
											<td>홍길동</td>
											<td>2016-12-31 00:00:00</td>
											<td>DMS로 전송완료</td>
											<td>품의작성[18]</td>
											<td>1</td>
										</tr>
									</tbody>
								</table>
								<!---->
							</div>
						</div>
						<!-- //contents -->
					</div>
				</div>
			</div>
			<!-- //container -->

			<hr/>
			<!-- footer -->
			<div id="footer">
				<div class="back">
					<p>Copyright 2005. THINK TREE.All Rights Reserved.</p>
					<div>
						<span class="btnSet pagetop"><a>TOP</a></span>
					</div>
				</div>
			</div>
			<!-- //footer -->

		</div>
		<!-- //wrap -->
	</body>
</html>
