<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>GMK</title>
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/basic.js"></script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- wrap -->
		<div id="wrap">
			<!--
			 class="snbright-style"
			 class="center-style"
			 class="side-hidden"
			-->

			<!-- header -->
			<div id="header">
				<div class="back">
					<h1><img src="../images/logo.png" alt="logo"></h1>
					<div class="hdata">
						<ul class="gnb">
							<li><a href="notice_list.html">컨텐츠 관리</a></li>
							<li class="on"><a href="carmanager_list.html">카매니저 관리</a></li>
							<li><a href="contract_manage_list.html">계약 관리</a></li>
							<li><a onclick="alert('퍼블리싱 현행화 필요');return false;">차량 관리</a></li>
							<li><a href="help_list.html">유지보수</a></li>
							<li><a href="car_list.html">프로모션 관리</a></li>
							<li><a href="manager_list.html">관리자 관리</a></li>
							<!-- <li><a href="request_list.html">GMK 요청사항</a></li> -->
							<li><a href="report_monthly_list.html">보고서 관리</a></li>
							<li><a href="infra_server_list.html">인프라 관리</a></li><!-- 2020-06-08 -->
							<li><a href="account_list.html">개인정보 보호</a></li><!-- 2020-07-09 -->
						</ul>
						<div class="right pd10">
							<span class="btnSet onlytxt"><input type="button" value="basic style" class="lsbasic" /></span>
							<span class="btnSet onlytxt"><input type="button" value="right style" class="lsright" /></span>
							<span class="btnSet onlytxt"><input type="button" value="center style" class="lscenter" /></span>
						</div>
					</div>
				</div>
			</div>
			<!-- //header -->

			<hr/>
			<!-- container -->
			<div id="container">
				<div class="back">
					<!-- snb -->
					<div class="snb">
						<strong>MENU</strong>
						<ul>
							<li><span><a href="device.html">디바이스 관리</a></span></li>
							<li><span><a href="carmanager_list.html">카매니저</a></span></li>
							<li><span><a href="login_info.html">로그인 정보</a></span></li>
							<li><span><a href="question_list.html">1:1 문의</a></span></li>
							<!-- <li><span><a href="newjoin_list.html">신규등록 현황</a></span></li> -->
						</ul>
						<strong>USER INFORMATION</strong>
						<ul>
							<li class="notlink user-date">3:00 PM | 12 May 2015</li>
							<li class="user-push"><span><a href="#none">Push Messege</a></span></li>
							<li class="user-setting"><span><a href="#none">Setting</a></span></li>
							<li class="user-logout"><span><a href="#">Logout</a></span></li>
						</ul>
					</div>
					<!---->

					<hr/>
					<div class="com-layout">
						<h2>
							<span><a href="main.html">카매니저 관리</a></span>
							<span>디바이스 관리</span>
							<input type="button" value="<" class="side-button" />
						</h2>
						<!-- contents -->
						<div class="contents">
							<div class="databox-line">
								<h3><strong>디바이스 설정</strong></h3>
								<table cellpadding="0" cellspacing="0" border="0" class="tbvs1">
									<colgroup>
										<col width="150" />
										<col width="150" />
										<col />
									</colgroup>
									<tbody id="managementBody">
						<!-- 				<tr> -->
						<!-- 					<th rowspan="2">사용여부</th> -->
						<!-- 					<th>Mobile</th> -->
						<!-- 					<td> -->
						<!-- 						<span class="ocase"><input type="checkbox" class="mobileYn" checked ><label>check</label></span> -->
						<!-- 					</td> -->
						<!-- 				</tr> -->
						<!-- 				<tr> -->
						<!-- 					<th>PAD</th> -->
						<!-- 					<td> -->
						<!-- 						<span class="ocase"><input type="checkbox" class="padYn" ><label>check</label></span> -->
						<!-- 					</td> -->
						<!-- 				</tr> -->
						                <tr>
						                    <th colspan="2"> 디바이스 사용가능 개수 타입 </th>
						                    <td>
						                        <input type="radio" value="A" name="deviceChk"> Mobile, Pad 별 개수 &nbsp;
						                        <input type="radio" value="B" name="deviceChk"> 통합 개수
						                    </td>
						                </tr>
										<tr class="mobileAndPad">
											<th rowspan="3">기기 별 개수</th>
											<th>Mobile</th>
											<td>
												<input type="text" class="numberText" id="mobileYn" />
												<span class="ocase"><input type="checkbox" class="mobileYn" checked ><label><!-- check --></label></span>
						                    </td>
											</td>
										</tr>
										<tr class="mobileAndPad">
											<th>PAD</th>
											<td>
												<input type="text" class="numberText" id="padYn" />
												<span class="ocase"><input type="checkbox" class="padYn" ><label><!-- check --></label></span>
											</td>
										</tr>
										<tr class="allDevice">
						                    <th>통합</th>
						                    <td>
						                        <input type="text" class="numberText" id="allYn" />
						                    </td>
						                </tr>
										<tr>
											<th colspan="2">변경사유</th>
											<td>
												<input type="text" id="deviceReason" size="30">
											</td>
										</tr>
									</tbody>
								</table>
								<!---->
								<div class="listControlBox tCenter">
									<input type="button" class="btnColor bSky" value="수정 취소" onclick="modifyCancle()" />
									<input type="button" class="btnColor bGray" value="저장" onclick="modifyDevice()"/>
								</div>
							</div>
							<!---->
							<div class="databox-line mt10">
								<h3><strong>관리 이력</strong></h3>
								<!-- list -->
								<table cellpadding="0" cellspacing="0" border="0" class="tbls1">
									<colgroup>
										<col width="100" />
										<col width="200" />
										<col />
										<col width="250" />
										<col width="150" />
									</colgroup>
									<thead>
										<tr>
											<th>No</th>
											<th>변경 내용</th>
											<th>변경 사유</th>
											<th>변경 날짜 <input type="button" value="up" class="sort sup" /></th>
											<th>수정인 <input type="button" value="up" class="sort sup" /></th>
										</tr>
									</thead>
									<tbody>
										<!-- Loop -->
										<tr>
											<td>100</td>
											<td class="subject">Mobile [1기기] </td>
											<td>테스트</td>
											<td>2016-12-31</td>
											<td>홍길동</td>
										</tr>
										<!-- //Loop -->
										<tr>
											<td>100</td>
											<td class="subject">Mobile [1기기] / PAD [1기기] </td>
											<td>테스트</td>
											<td>2016-12-31</td>
											<td>홍길동</td>
										</tr>
										<tr>
											<td>100</td>
											<td class="subject">Mobile [2기기] </td>
											<td>테스트</td>
											<td>2016-12-31</td>
											<td>홍길동</td>
										</tr>
										<tr>
											<td>100</td>
											<td class="subject">Mobile [1기기] / PAD [2기기] </td>
											<td>테스트</td>
											<td>2016-12-31</td>
											<td>홍길동</td>
										</tr>
										<tr>
											<td>100</td>
											<td class="subject">PAD [1기기] </td>
											<td>테스트</td>
											<td>2016-12-31</td>
											<td>홍길동</td>
										</tr>
									</tbody>
								</table>
								<!---->
								<div class="listControlBox">
									<div class="paginate">
										<a class="first">처음</a>
										<a class="prev">이전</a>
										<span>
											<strong>1</strong>
											<a>2</a>
											<a>3</a>
											<a>4</a>
											<a>5</a>
											<a>6</a>
											<a>7</a>
											<a>8</a>
											<a>9</a>
											<a>10</a>
										</span>
										<a class="next">다음</a>
										<a class="last">마지막</a>
									</div>
								</div>
								<!---->
							</div>
						</div>
						<!-- //contents -->
					</div>
				</div>
			</div>
			<!-- //container -->

			<hr/>
			<!-- footer -->
			<div id="footer">
				<div class="back">
					<p>Copyright 2005. THINK TREE.All Rights Reserved.</p>
					<div>
						<span class="btnSet pagetop"><a>TOP</a></span>
					</div>
				</div>
			</div>
			<!-- //footer -->

		</div>
		<!-- //wrap -->
	</body>
</html>
