<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>GMK</title>
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/basic.js"></script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- wrap -->
		<div id="wrap">
			<!--
			 class="snbright-style"
			 class="center-style"
			 class="side-hidden"
			-->

			<!-- header -->
			<div id="header">
				<div class="back">
					<h1><img src="../images/logo.png" alt="logo"></h1>
					<div class="hdata">
						<ul class="gnb">
							<li><a href="notice_list.html">컨텐츠 관리</a></li>
							<li><a href="carmanager_list.html">카매니저 관리</a></li>
							<li><a href="contract_manage_list.html">계약 관리</a></li>
							<li><a onclick="alert('퍼블리싱 현행화 필요');return false;">차량 관리</a></li>
							<li><a href="help_list.html">유지보수</a></li>
							<li><a href="car_list.html">프로모션 관리</a></li>
							<li><a href="manager_list.html">관리자 관리</a></li>
							<!-- <li><a href="request_list.html">GMK 요청사항</a></li> -->
							<li class="on"><a href="report_monthly_list.html">보고서 관리</a></li>
							<li><a href="infra_server_list.html">인프라 관리</a></li><!-- 2020-06-08 -->
							<li><a href="account_list.html">개인정보 보호</a></li><!-- 2020-07-09 -->
						</ul>
						<div class="right pd10">
							<span class="btnSet onlytxt"><input type="button" value="basic style" class="lsbasic" /></span>
							<span class="btnSet onlytxt"><input type="button" value="right style" class="lsright" /></span>
							<span class="btnSet onlytxt"><input type="button" value="center style" class="lscenter" /></span>
						</div>
					</div>
				</div>
			</div>
			<!-- //header -->

			<hr/>
			<!-- container -->
			<div id="container">
				<div class="back">
					<!-- snb -->
					<div class="snb">
						<strong>MENU</strong>
						<ul>
							<li><span><a href="contract_list.html">계약서</a></span></li>
							<li><span><a href="estimate_list.html">견적서</a></span></li>
							<li><span><a href="point_list.html">선포인트신청</a></span></li>
							<li><span><a href="highpass_list.html">하이패스</a></span></li>
						</ul>
						<strong>USER INFORMATION</strong>
						<ul>
							<li class="notlink user-date">3:00 PM | 12 May 2015</li>
							<li class="user-push"><span><a href="#none">Push Messege</a></span></li>
							<li class="user-setting"><span><a href="#none">Setting</a></span></li>
							<li class="user-logout"><span><a href="#">Logout</a></span></li>
						</ul>
					</div>
					<!---->

					<hr/>
					<div class="com-layout">
						<h2>
							<span><a href="main.html">서식관리</a></span>
							<span>견적서</span>
							<input type="button" value="<" class="side-button" />
						</h2>
						<!-- contents -->
						<div class="contents">
							<div class="databox-line">
								<h3><span>* 현재 사용하고 있는 서식입니다.</span></h3>
								<!---->
								<table cellpadding="0" cellspacing="0" border="0" class="tbws1">
									<colgroup>
										<col width="150" />
										<col width="364" />
										<col width="150" />
										<col />
									</colgroup>
									<tbody>
										<tr>
											<th>서식 안내</th>
											<td colspan="3">
												<div class="txtSet">
													<input type="text" class="wFull" value="이용약관 변경 적용" />
												</div>
											</td>
										</tr>
										<tr>
											<th>서식 버전</th>
											<td>
												<span class="inBlock lh27 mr5">v.169</span>
												<span class="btnSet onlytxt"><input type="button" value="이전버전 가져오기" /></span>
											</td>
											<th>등록 일시</th>
											<td>2016-12-31</td>
										</tr>
										<tr>
											<th>비고</th>
											<td colspan="3">
												<div class="taSet">
													<textarea rows="3"></textarea>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!---->
							<div class="databox-line mt10">
								<table cellpadding="0" cellspacing="0" border="0" class="tbws1">
									<colgroup>
										<col width="180" />
										<col width="100" />
										<col />
									</colgroup>
									<tbody>
										<tr>
											<th><strong>견적서</strong></th>
											<th>고객용</th>
											<td>
												<div class="fileex_back mr5">
													<input type="file" class="fileex">
													<span class="btnSet imgup"><label>File Search</label></span>
												</div>
												<div class="imgselected mr5"><span>서식파일.html <input type="button" value="삭제" class="imgdelete"></span></div>
												<span class="btnSet preview"><a href="#">미리보기</a></span>
											</td>
										</tr>
										<tr>
											<th><strong>개인정보활용동의서</strong></th>
											<th>고객용</th>
											<td>
												<div class="fileex_back mr5">
													<input type="file" class="fileex">
													<span class="btnSet imgup"><label>File Search</label></span>
												</div>
												<div class="imgselected mr5"><span>서식파일.html <input type="button" value="삭제" class="imgdelete"></span></div>
												<span class="btnSet preview"><a href="#">미리보기</a></span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!---->
							<div class="btnLayout">
								<div class="right">
									<span class="btnSet cancel"><a href="estimate_list.html">취소</a></span>
									<span class="btnSet modify"><input type="button" value="수정"></span>
								</div>
							</div>
						</div>
						<!-- //contents -->
					</div>
				</div>
			</div>
			<!-- //container -->

			<hr/>
			<!-- footer -->
			<div id="footer">
				<div class="back">
					<p>Copyright 2005. THINK TREE.All Rights Reserved.</p>
					<div>
						<span class="btnSet pagetop"><a>TOP</a></span>
					</div>
				</div>
			</div>
			<!-- //footer -->

		</div>
		<!-- //wrap -->
	</body>
</html>
