<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>GMK</title>
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/basic.js"></script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- wrap -->
		<div id="wrap">
			<!--
			 class="snbright-style"
			 class="center-style"
			 class="side-hidden"
			-->

			<!-- header -->
			<div id="header">
				<div class="back">
					<h1><img src="../images/logo.png" alt="logo"></h1>
					<div class="hdata">
						<ul class="gnb">
							<li><a href="notice_list.html">컨텐츠 관리</a></li>
							<li><a href="carmanager_list.html">카매니저 관리</a></li>
							<li><a href="contract_manage_list.html">계약 관리</a></li>
							<li><a onclick="alert('퍼블리싱 현행화 필요');return false;">차량 관리</a></li>
							<li><a href="help_list.html">유지보수</a></li>
							<li><a href="car_list.html">프로모션 관리</a></li>
							<li><a href="manager_list.html">관리자 관리</a></li>
							<!-- <li><a href="request_list.html">GMK 요청사항</a></li> -->
							<li><a href="report_monthly_list.html">보고서 관리</a></li>
							<li><a href="infra_server_list.html">인프라 관리</a></li><!-- 2020-06-08 -->
							<li><a href="account_list.html">개인정보 보호</a></li><!-- 2020-07-09 -->
						</ul>
						<div class="right pd10">
							<span class="btnSet onlytxt"><input type="button" value="basic style" class="lsbasic" /></span>
							<span class="btnSet onlytxt"><input type="button" value="right style" class="lsright" /></span>
							<span class="btnSet onlytxt"><input type="button" value="center style" class="lscenter" /></span>
						</div>
					</div>
				</div>
			</div>
			<!-- //header -->

			<hr/>
			<!-- container -->
			<div id="container">
				<div class="back">
					<!-- snb -->
					<div class="snb">
						<strong>MENU</strong>
						<ul>
							<li><span><a href="event_list.html">이벤트 관리</a></span></li>
							<li><span><a href="event_status.html">참여 현황</a></span></li>
						</ul>
						<strong>USER INFORMATION</strong>
						<ul>
							<li class="notlink user-date">3:00 PM | 12 May 2015</li>
							<li class="user-push"><span><a href="#none">Push Messege</a></span></li>
							<li class="user-setting"><span><a href="#none">Setting</a></span></li>
							<li class="user-logout"><span><a href="#">Logout</a></span></li>
						</ul>
					</div>
					<!---->

					<hr/>
					<div class="com-layout">
						<h2>
							<span><a href="main.html">이벤트 관리</a></span>
							<span>참여 현황</span>
							<input type="button" value="<" class="side-button" />
						</h2>
						<!-- contents -->
						<div class="contents">
							<div class="databox-line">
								<div class="headBox2">
									<div class="left">
										<div style="width: auto;">
											<label>이벤트 제목 : </label>&nbsp;&nbsp;&nbsp;
											<select id="eventNm" class="ui fluid normal search dropdown">
												<option value=""></option>
												<option value="All NEW MALIBU 런칭파티">All NEW MALIBU 런칭파티</option>
												<option value="2015 쉐보레 연말 고객 응모">2015 쉐보레 연말 고객 응모</option>
												<option value="해피뉴이어 대리점 방문 이벤트 2차">해피뉴이어 대리점 방문 이벤트 2차</option>
												</select>
										</div>
										<div class="col3">
											<label>참가자명 : </label>
											<input type="text" id="custNm"      name="custNm" placeholder=""/>
										</div>
										<div class="col2">
											<label>참가신청일 : </label>&nbsp;&nbsp;&nbsp;
											<input type="text" id="startDate"	name="startDate"  class="cal" readonly />
											~<input type="text" id="endDate"		name="endDate"  class="cal" readonly />
										</div>
										<div class="col">
											<label>카매니저 : </label>
											<input type="text" id="saleManCd"   name="saleManCd" placeholder=""/>
										</div>
										<input id="schBtn" type="submit" class="btnColor bBlue" value="search" />
										<p id="joinPopular">총 참여자 수 : 3000 명</p>
									</div>
									<select class="w80 right" id="pageListSize">
										<option value="20">20개</option>
										<option value="50">50개</option>
										<option value="100">100개</option>
									</select>
								</div>
								<!--<div class="headBox2">
									<div class="left">
										<div class="col"><label>이벤트 제목 : </label><input type="text" placeholder=""/></div>
										<div class="col"><label>상태 : </label>
										<select>
											<option>오픈대기</option>
											<option>진행중</option>
											<option>취소</option>
											<option>마감</option>
											<option>오픈예정</option>
										</select></div>
										<div class="col"><label>오픈날짜 : </label><input type="text" readonly="" class="cal" /></div>
										<div class="col"><label>참가자명 : </label><input type="text" placeholder=""/></div>
										<div class="col"><label>참가신청일 : </label><input type="text" readonly="" class="cal" /></div>
										<div class="col"><label>카매니저 : </label><input type="text" placeholder=""/></div>
										<div class="col2"><label>기간 : </label><input type="text" readonly="" class="cal" /> ~ <input type="text" readonly="" class="cal" /></div>
										<input type="button" class="btnColor bBlue" value="search" />
									</div>
									<select class="w80 right">
										<option>20개</option>
										<option>50개</option>
										<option>100개</option>
									</select>
								</div>
								<div class="headBox">
									span class="mr5 lh27">
										<input type="text" readonly="" class="cal" /> ~
										<input type="text" readonly="" class="cal" />
									</span>
									<span class="list-search mr5">
										<input type="text" placeholder="Search..."/><input type="submit" class="search-icon" value="search" />
									</span>
								</div>-->
								<!-- list -->
								<table cellpadding="0" cellspacing="0" border="0" class="tbls1">
									<colgroup>
										<col width="50" />
										<col />
										<col width="160" />
										<col width="80" />
										<col width="100" />
										<col width="80" />
										<col width="140" />
										<col width="80" />
									</colgroup>
									<thead>
										<tr>
											<th>no <input type="button" value="up" class="sort sup" /></th>
											<th>이벤트 제목 <input type="button" value="up" class="sort sup" /></th>
											<th>기간 <input type="button" value="up" class="sort sup" /></th>
											<th>상태 <input type="button" value="up" class="sort sup" /></th>
											<th>오픈날짜 <input type="button" value="up" class="sort sup" /></th>
											<th>참자가명 <input type="button" value="up" class="sort sup" /></th>
											<th>참가신청일 <input type="button" value="up" class="sort sup" /></th>
											<th>카매니저 <input type="button" value="up" class="sort sup" /></th>
										</tr>
									</thead>
									<tbody>
										<!-- Loop -->
										<tr>
											<td>100</td>
											<td class="subject"><a href="event_view.html">[슈퍼 세이프티 시즌3] 지금이 기회다!</a></td>
											<td>2016-12-31 ~ 2016-12-31</td>
											<td class="ftOrange">오픈대기</td>
											<td>2016-12-31</td>
											<td>이훈경</td>
											<td>2016-12-31 00:00:00</td>
											<td>홍길동</td>
										</tr>
										<!-- //Loop -->
										<tr>
											<td>100</td>
											<td class="subject"><a href="event_view.html">[슈퍼 세이프티 시즌3] 지금이 기회다!</a></td>
											<td>2016-12-31 ~ 2016-12-31</td>
											<td class="ftGreen">진행중</td>
											<td>2016-12-31</td>
											<td>이훈경</td>
											<td>2016-12-31 00:00:00</td>
											<td>홍길동</td>
										</tr>
										<tr>
											<td>100</td>
											<td class="subject"><a href="event_view.html">[슈퍼 세이프티 시즌3] 지금이 기회다!</a></td>
											<td>2016-12-31 ~ 2016-12-31</td>
											<td class="ftRed">취소</td>
											<td>2016-12-31</td>
											<td>이훈경</td>
											<td>2016-12-31 00:00:00</td>
											<td>홍길동</td>
										</tr>
										<tr>
											<td>100</td>
											<td class="subject"><a href="event_view.html">[슈퍼 세이프티 시즌3] 지금이 기회다!</a></td>
											<td>2016-12-31 ~ 2016-12-31</td>
											<td>마감</td>
											<td>2016-12-31</td>
											<td>이훈경</td>
											<td>2016-12-31 00:00:00</td>
											<td>홍길동</td>
										</tr>
										<tr>
											<td>100</td>
											<td class="subject"><a href="event_view.html">[슈퍼 세이프티 시즌3] 지금이 기회다!</a></td>
											<td>2016-12-31 ~ 2016-12-31</td>
											<td class="ftBlue">오픈예정</td>
											<td>2016-12-31</td>
											<td>이훈경</td>
											<td>2016-12-31 00:00:00</td>
											<td>홍길동</td>
										</tr>
									</tbody>
								</table>
								<!---->
								<div class="listControlBox">
									<div class="controlBox left">
										<input type="button" class="btnColor bBlue" value="엑셀다운로드" />
									</div>
									<!---->
									<div class="paginate">
										<a class="first">처음</a>
										<a class="prev">이전</a>
										<span>
											<strong>1</strong>
											<a>2</a>
											<a>3</a>
											<a>4</a>
											<a>5</a>
											<a>6</a>
											<a>7</a>
											<a>8</a>
											<a>9</a>
											<a>10</a>
										</span>
										<a class="next">다음</a>
										<a class="last">마지막</a>
									</div>
								</div>
							</div>
						</div>
						<!-- //contents -->
					</div>
				</div>
			</div>
			<!-- //container -->

			<hr/>
			<!-- footer -->
			<div id="footer">
				<div class="back">
					<p>Copyright 2005. THINK TREE.All Rights Reserved.</p>
					<div>
						<span class="btnSet pagetop"><a>TOP</a></span>
					</div>
				</div>
			</div>
			<!-- //footer -->

		</div>
		<!-- //wrap -->
	</body>
</html>
