<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>GMK</title>
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/basic.js"></script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- wrap -->
		<div id="wrap">
			<!--
			 class="snbright-style"
			 class="center-style"
			 class="side-hidden"
			-->

			<!-- header -->
			<div id="header">
				<div class="back">
					<h1><img src="../images/logo.png" alt="logo"></h1>
					<div class="hdata">
						<ul class="gnb">
							<li class="on"><a href="notice_list.html">컨텐츠 관리</a></li>
							<li><a href="carmanager_list.html">카매니저 관리</a></li>
							<li><a href="contract_manage_list.html">계약 관리</a></li>
							<li><a onclick="alert('퍼블리싱 현행화 필요');return false;">차량 관리</a></li>
							<li><a href="help_list.html">유지보수</a></li>
							<li><a href="car_list.html">프로모션 관리</a></li>
							<li><a href="manager_list.html">관리자 관리</a></li>
							<!-- <li><a href="request_list.html">GMK 요청사항</a></li> -->
							<li><a href="report_monthly_list.html">보고서 관리</a></li>
							<li><a href="infra_server_list.html">인프라 관리</a></li><!-- 2020-06-08 -->
							<li><a href="account_list.html">개인정보 보호</a></li><!-- 2020-07-09 -->
						</ul>
						<div class="right pd10">
							<span class="btnSet onlytxt"><input type="button" value="basic style" class="lsbasic" /></span>
							<span class="btnSet onlytxt"><input type="button" value="right style" class="lsright" /></span>
							<span class="btnSet onlytxt"><input type="button" value="center style" class="lscenter" /></span>
						</div>
					</div>
				</div>
			</div>
			<!-- //header -->

			<hr/>
			<!-- container -->
			<div id="container">
				<div class="back">
					<!-- snb -->
					<div class="snb">
						<strong>MENU</strong>
						<ul>
							<!-- <li><span><a href="app_main.html">APP 메인 관리</a></span></li> -->
							<li><span><a href="notice_list.html">공지사항</a></span></li>
							<li><span><a href="faq_list.html">FAQ</a></span></li>
							<li><span><a href="push_list.html">Push Notification</a></span></li>
							<!--<li><span><a href="guide_list.html">가이드</a></span></li> -->
						</ul>
						<strong>USER INFORMATION</strong>
						<ul>
							<li class="notlink user-date">3:00 PM | 12 May 2015</li>
							<li class="user-push"><span><a href="#none">Push Messege</a></span></li>
							<li class="user-setting"><span><a href="#none">Setting</a></span></li>
							<li class="user-logout"><span><a href="#">Logout</a></span></li>
						</ul>
					</div>
					<!---->
					<hr/>
					<div class="com-layout">
						<h2>
							<span><a href="main.html">컨텐츠 관리</a></span>
							<span>FAQ</span>
							<input type="button" value="<" class="side-button" />
						</h2>
						<!-- contents -->
						<div class="contents">
							<div class="databox-line">
								<table cellpadding="0" cellspacing="0" border="0" class="tbls1">
									<colgroup>
										<col width="50" />
										<col width="100" />
										<col />
										<col width="250" />
									</colgroup>
									<thead>
										<tr>
											<th></th>
											<th>No <input type="button" value="up" class="sort sup" /></th>
											<th>제목 <input type="button" value="up" class="sort sup" /></th>
											<th>등록일 <input type="button" value="up" class="sort sup" /></th>
										</tr>
									</thead>
									<tbody>
										<!-- Loop -->
										<tr>
											<td><input type="checkbox"/></td>
											<td>100</td>
											<td class="subject tCenter"><a href="faq_view.html">FAQ 타이틀이 노출 됩니다.</a></td>
											<td>YYYY-MM-DD</td>
										</tr>
										<!-- //Loop -->
										<tr>
											<td><input type="checkbox"/></td>
											<td>99</td>
											<td class="subject tCenter"><a href="faq_view.html">FAQ 타이틀이 노출 됩니다.</a></td>
											<td>YYYY-MM-DD</td>
										</tr>
										<tr>
											<td><input type="checkbox"/></td>
											<td>98</td>
											<td class="subject tCenter"><a href="faq_view.html">FAQ 타이틀이 노출 됩니다.</a></td>
											<td>YYYY-MM-DD</td>
										</tr>
										<tr>
											<td><input type="checkbox"/></td>
											<td>97</td>
											<td class="subject tCenter"><a href="faq_view.html">FAQ 타이틀이 노출 됩니다.</a></td>
											<td>YYYY-MM-DD</td>
										</tr>
										<tr>
											<td><input type="checkbox"/></td>
											<td>96</td>
											<td class="subject tCenter"><a href="faq_view.html">FAQ 타이틀이 노출 됩니다.</a></td>
											<td>YYYY-MM-DD</td>
										</tr>
										<tr>
											<td><input type="checkbox"/></td>
											<td>95</td>
											<td class="subject tCenter"><a href="faq_view.html">FAQ 타이틀이 노출 됩니다.</a></td>
											<td>YYYY-MM-DD</td>
										</tr>
										<tr>
											<td><input type="checkbox"/></td>
											<td>94</td>
											<td class="subject tCenter"><a href="faq_view.html">FAQ 타이틀이 노출 됩니다.</a></td>
											<td>YYYY-MM-DD</td>
										</tr>
										<tr>
											<td><input type="checkbox"/></td>
											<td>93</td>
											<td class="subject tCenter"><a href="faq_view.html">FAQ 타이틀이 노출 됩니다.</a></td>
											<td>YYYY-MM-DD</td>
										</tr>
										<tr>
											<td><input type="checkbox"/></td>
											<td>92</td>
											<td class="subject tCenter"><a href="faq_view.html">FAQ 타이틀이 노출 됩니다.</a></td>
											<td>YYYY-MM-DD</td>
										</tr>
										<tr>
											<td><input type="checkbox"/></td>
											<td>91</td>
											<td class="subject tCenter"><a href="faq_view.html">FAQ 타이틀이 노출 됩니다.</a></td>
											<td>YYYY-MM-DD</td>
										</tr>
									</tbody>
								</table>
								<!---->
								<div class="listControlBox"> <!-- 161118 positionSet 추가 -->
									<div class="controlBox left mt5">
										<span>선택 항목</span>
										<span class="positionSet">
											<span class="lineUp">위로</span>
											<span class="lineDown">아래로</span>
											<span class="lineDelete">삭제</span>
										</span>
									</div>
									<!---->
									<span class="btnBox">
										<a href="faq_view.html" class="btnColor bRed">신규 등록</a>
									</span>
								</div>
							</div>
						</div>
						<!-- //contents -->
					</div>
				</div>
			</div>
			<!-- //container -->

			<hr/>
			<!-- footer -->
			<div id="footer">
				<div class="back">
					<p>Copyright 2005. THINK TREE.All Rights Reserved.</p>
					<div>
						<span class="btnSet pagetop"><a>TOP</a></span>
					</div>
				</div>
			</div>
			<!-- //footer -->

		</div>
		<!-- //wrap -->
	</body>
</html>
