<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>GMK</title>
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script type="text/javascript" src="js/se2/js/HuskyEZCreator.js"></script>
		<script type="text/javascript" src="../js/basic.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			$('.tbls1 .btnSet').click(function() {
				confirm('재발송 하시겠습니까?');
			}); // 재발송
			$('.tbls1 .fail').hover(function() {
				$(this).parent().find('.reason').toggle();
			}); // 실패 원인

			$('table.tbvs1 .pushImg').click(function() {
				$('.msg_preview').show();
				$('#blind_wrap').show();
			}); // 푸시 미리보기

			$('.preArea.img_hp.msg_preview .pclose').click(function() {
				$('.msg_preview').hide();
				$('#blind_wrap').hide();
			}); // 푸시 미리보기 닫기
		})
		</script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- wrap -->
		<div id="wrap">
			<!--
			 class="snbright-style"
			 class="center-style"
			 class="side-hidden"
			-->

			<!-- header -->
			<div id="header">
				<div class="back">
					<h1><img src="../images/logo.png" alt="logo"></h1>
					<div class="hdata">
						<ul class="gnb">
							<li class="on"><a href="notice_list.html">컨텐츠 관리</a></li>
							<li><a href="carmanager_list.html">카매니저 관리</a></li>
							<li><a href="contract_manage_list.html">계약 관리</a></li>
							<!-- 2017-03-09 -->
							<li><a href="help_list.html">유지보수</a></li>
							<!-- //2017-03-09 -->
							<li><a href="car_list.html">프로모션 관리</a></li>
							<li><a href="manager_list.html">관리자 관리</a></li>
							<li><a href="">GMK 요청사항</a></li>
							<li><a href="report_monthly_list.html">보고서 관리</a></li>
							<li><a href="infra_server_list.html">인프라 관리</a></li><!-- 2020-06-08 -->
							<li><a href="account_list.html">개인정보 보호</a></li><!-- 2020-07-09 -->
						</ul>
						<div class="right pd10">
							<span class="btnSet onlytxt"><input type="button" value="basic style" class="lsbasic" /></span>
							<span class="btnSet onlytxt"><input type="button" value="right style" class="lsright" /></span>
							<span class="btnSet onlytxt"><input type="button" value="center style" class="lscenter" /></span>
						</div>
					</div>
				</div>
			</div>
			<!-- //header -->

			<hr/>
			<!-- container -->
			<div id="container">
				<div class="back">
					<!-- snb -->
					<div class="snb">
						<strong>MENU</strong>
						<ul>
							<!-- <li><span><a href="app_main.html">APP 메인 관리</a></span></li> -->
							<li><span><a href="notice_list.html">공지사항</a></span></li>
							<li><span><a href="faq_list.html">FAQ</a></span></li>
							<li><span><a href="push_list.html">Push Message</a></span></li>
							<!--<li><span><a href="menu_setting_list.html">메뉴설정</a></span></li> -->
							<!--<li><span><a href="guide_list.html">가이드</a></span></li> -->
						</ul>
						<strong>USER INFORMATION</strong>
						<ul>
							<li class="notlink user-date">3:00 PM | 12 May 2015</li>
							<li class="user-push"><span><a href="#none">Push Messege</a></span></li>
							<li class="user-setting"><span><a href="#none">Setting</a></span></li>
							<li class="user-logout"><span><a href="#">Logout</a></span></li>
						</ul>
					</div>
					<!---->
					<div id="blind_wrap" style="display:none;"></div>
					<!-- 푸시 삽입 이미지 미리보기 -->
					<div class="preArea img_hp msg_preview" style="display:none;">
						<img src="../images/btn_pclose.png" alt="Close" class="pclose">
						<div class="img_txt">
							<div class="title">PUSH 제목가 나옵니다.PUSH 제목가 나옵니다.PUSH 제목가 나옵니다.</div>
							<div class="push">
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
								PUSH 메세지가 나옵니다.
							</div>
						</div>
					</div>
					<!-- <div class="preArea img_hp msg_preview" style="display:none">
						<div class="img_txt">
							<div id="pop_template" class="normalPop notice-pop">
								<div class="popTit"><h1 class="gm_alert_title wFull ellipsis">Message MessageMessage제목</h1></div>
								<div class="popBack">
									<div class="popData">
										<div class="alertBox aConfirm">
											<p class="gm_alert_msg">Push Message 내용입니다.<br /></p>
											<img src="../images/sample_event2.png">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->
					<!--// 푸시 삽입 이미지 미리보기 -->
					<hr/>
					<div class="com-layout">
						<h2>
							<span><a href="carmanager_list.html">컨텐츠 관리</a></span>
							<span>Push Message</span>
							<input type="button" value="<" class="side-button" />
						</h2>
						<!-- contents -->
						<div class="contents">
							<div>
								<div class="databox-line">
									<h3>Push Messsage</h3>
						            <table cellpadding="0" cellspacing="0" border="0" class="tbvs1">
						            	<colgroup>
						            		<col width="100">
						            		<col width="200">
						            		<col width="100">
						            		<col width="200">
						            	</colgroup>
										<tbody>
											<!-- <tr>
												<td rowspan="5">
													<div class="msgreview_sample">
														<div class="msgr sample1">
															<span><img src="../images/thumbnail/thumbnail_0.png" alt=""></span>
															<dl>
																<dt>Push Message 제목</dt>
																<dd>Push Message 내용입니다.</dd>
															</dl>
														</div>
														<div class="msgr sample2" style="display:none">
															<span><img src="../images/thumbnail/thumbnail_0.png" alt=""></span>
															<dl>
																<dt>Push Message 제목</dt>
																<dd>Push Message 내용입니다.</dd>
															</dl>
														</div>
														<div class="msgr sample3" style="display:none">
															<span><img src="../images/thumbnail/thumbnail_0.png" alt=""></span>
															<p>Push Message 제목<br />Push Message 내용입니다.</p>
														</div>
														<div class="msgr sample4" style="display:none">
															<span><img src="../images/thumbnail/thumbnail_0.png" alt=""></span>
															<dl>
																<dt>Push Message 제목</dt>
																<dd>Push Message 내용입니다.</dd>
															</dl>
														</div>
													</div> -->
													<!-- <div class="preArea img_hp msg_preview">
														<div class="img_txt">
															<p>타이틀</p>
															<div class="popData">
																<p class="gm_alert_msg">내용<br />내용<br />내용<br />내용<br /></p>
																<img src="../images/sample_event2.png">
															</div>
														</div>
													</div>
												</td>
											</tr> -->
											<tr>
												<th>타이틀</th>
												<td colspan="3">Push Message 제목</td>
											</tr>
											<tr>
												<th>카테고리</th>
												<td>공지사항</td>
												<th>발송시간</th>
												<td>YYYY-MM-DD 00:00 (예약발송)</td>
											</tr>
											<tr>
												<th>발송자</th>
												<td>홍길동</td>
												<th>수신자</th>
												<td>[00명] 강서본부</td>
											</tr>
											<tr>
												<th>내용<br /><button class="btnColor bSky pushImg mt5">미리보기</button></th>
												<td colspan="3">Push Message 내용입니다.<br />[push.png]</td>
											</tr>
										</tbody>
									</table>
								</div>
								<p class="mt10 inBlock wFull">
									<strong class="lh27">수신자 수 : OO명 / <span class="ftGreen">성공 OO명</span> / <span class="ftRed">실패 OO명</span></strong>
									<span class="right">
										<a href="push_list.html" class="btnColor bGreen">목록</a>
									</span>
								</p>
								<div class="tabCon tabCon1 databox-line mt10">
									<div class="headBox tRight">
											<span class="left">
												<a href="push_write.html" class="btnColor bRed">추가 푸시 보내기</a>
											</span>
											<select id="condition" class="w80 mr5" onchange="">
												<option>수신상태</option>
												<option>발송대기</option>
												<option>성공</option>
												<option>실패</option>
											</select>
											<span class="mr5">
												<input id="historyStartDate" type="text" readonly="readonly" class="cal historySD" onchange="dateSearch.historyChange()"/> ~
												<input id="historyEndDate" type="text" readonly="readonly" class="cal historyED" onchange="dateSearch.historyChange()"/>
											</span>
											<select id="deviceType1" class="mr5 deviceType">
												<option value="">OS 전체</option>
												<option value="ios">ios</option>
												<option value="android">android</option>
											</select>
											<span class="list-search mr5">
												<input type="text" placeholder="Search..." id="historySearch"/><input type="submit" class="search-icon" value="historySearch" onclick="historySearch(1)"/>
											</span>
										</div>
									<!---->
										<table cellpadding="0" cellspacing="0" border="0" class="tbls1 pushView">
											<thead>
												<tr>
													<th>No</th>
													<th>사번</th>
													<th>이름</th>
													<th>OS 종류</th>
													<th>기기 모델명</th>
													<th>수신시간 및 상태</th>
												</tr>
											</thead>
												<tbody>
													<!-- Loop -->
													<tr>
														<td>100</td>
														<td>K123456</td>
														<td>홍길동</td>
														<td>iOS</td>
														<td>iPad 4</td>
														<td>YYYY-MM-DD 00:00</td>
													</tr>
													<tr>
														<td>99</td>
														<td>K123456</td>
														<td>홍길동</td>
														<td>Android</td>
														<td>galaxy s7</td>
														<td>
															<span class="redLine">
																<span class="fail lh27">실패</span>
																<span class="btnSet onlytxt"><input type="button" value="재발송"></span>
																<span class="reason" style="display:none">
																	<strong>발송취소 사유</strong>
																	<span class="inBlock pd10">발송오류</span>
																</span>
															</span>
														</td>
													</tr>
													<tr>
														<td>98</td>
														<td>K123456</td>
														<td>홍길동</td>
														<td>iOS</td>
														<td>iPad 4</td>
														<td>YYYY-MM-DD 00:00</td>
													</tr>
													<tr>
														<td>97</td>
														<td>K123456</td>
														<td>홍길동</td>
														<td>iOS</td>
														<td>iPad 4</td>
														<td>YYYY-MM-DD 00:00</td>
													</tr>
													<tr>
														<td>96</td>
														<td>K123456</td>
														<td>홍길동</td>
														<td>iOS</td>
														<td>iPad 4</td>
														<td>YYYY-MM-DD 00:00</td>
													</tr>
													<tr>
														<td>95</td>
														<td>K123456</td>
														<td>홍길동</td>
														<td>iOS</td>
														<td>iPad 4</td>
														<td>YYYY-MM-DD 00:00</td>
													</tr>
													<tr>
														<td>94</td>
														<td>K123456</td>
														<td>홍길동</td>
														<td>Android</td>
														<td>galaxy s7</td>
														<td>
															<span class="redLine">
																<span class="fail lh27">실패</span>
																<span class="btnSet onlytxt"><input type="button" value="재발송"></span>
																<span class="reason" style="display:none">
																	<strong>발송취소 사유</strong>
																	<span class="inBlock pd10">앱 삭제</span>
																</span>
															</span>
														</td>
													</tr>
													<!-- //Loop -->
												</tbody>
											</table>
											<div class="listControlBox"> <!-- 161118 하단 삭제 버튼 삭제 -->
												<!---->
												<div class="paginate">
													<a class="first">처음</a>
													<a class="prev">이전</a>
													<span>
														<strong>1</strong>
														<a>2</a>
														<a>3</a>
														<a>4</a>
														<a>5</a>
														<a>6</a>
														<a>7</a>
														<a>8</a>
														<a>9</a>
														<a>10</a>
													</span>
													<a class="next">다음</a>
													<a class="last">마지막</a>
												</div>
											</div>
									<!---->
									</div>
								</div>
							</div>
							<!---->
						</div>
						<!-- //contents -->
					</div>
				</div>
			</div>
			<!-- //container -->

			<hr/>
			<!-- footer -->
			<div id="footer">
				<div class="back">
					<p>Copyright 2005. THINK TREE.All Rights Reserved.</p>
					<div>
						<span class="btnSet pagetop"><a>TOP</a></span>
					</div>
				</div>
			</div>
			<!-- //footer -->
		<!-- //wrap -->
	</body>
</html>
