<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>GMK</title>
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="https://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-4.4.1/css/ui.jqgrid.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script src="https://code.jquery.com/jquery.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script type="text/javascript" src="https://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-4.4.1/js/i18n/grid.locale-en.js"></script>
		<script type="text/javascript" src="https://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-4.4.1/js/jquery.jqGrid.src.js"></script>
		<script type="text/javascript" src="../js/basic.js"></script>
		<script>
			$.jgrid.no_legacy_api = true;
			$.jgrid.useJSON = true;
			var lastsel1;
			$(document).ready(function(){
				$('#previewHtml').click(function() {
					$('.previewHtmlPop').show();
					$('#blind_wrap').show();
				}); // html 미리보기 팝업
				$('#previewPdf').click(function() {
					$('.previewPdfPop').show();
					$('#blind_wrap').show();
				}); // pdf 미리보기 팝업
				$('.pop .pbtn button').click(function() {
					$('.pop').hide();
					$('#blind_wrap').hide();
				}); // 팝업 닫기
				$(".tabNav li button").click(function () {
				    $(".tabNav li").removeClass("on");
				    $(this).parent("li").addClass("on");
				    var activeTab = $(this).attr("data-name");
				    $('.tabData').hide();
				    $('.tData' + activeTab).show();
				});
				$(".tabNav li:last").click(function () {
					$(".tabNav li").removeClass("on");
					$(this).prev('li').show();
					$(this).prev('li').addClass("on");
				    $('.tabData').hide();
				    $('.tData1').show();
				});
				$('#openTab').click(function(){
					$('.cTabWrap').show();
					reSize(); //
				});
				/**/
				function reSize() {
					$('.jqGridSet table.ui-jqgrid-btable').each(function(){
						//console.log($(this).jqGrid('setGridWidth', 0, false));
						$(this).jqGrid('setGridWidth', 0, false);
						$(this).jqGrid('setGridWidth', $(".tabData").width() - 0, true);
					});
				}
				$(window).bind('resize', function() {
					reSize();
				});
				/**/
				function autocomplete_element(value, options) {
					var $ac = $('<input type="text" class="w100P">');
				    $ac.val(value);
				    $ac.autocomplete(
						{
							source: ["Glibc #1", "Glibc #2", "Glibc #3", "Glibc #4"]
					    }
				    );
				    return $ac.get(0);
			    }
			    function autocomplete_value(elem, op, v) {
			 	    if (op == 'set') {
			 		    $(elem).val(v);
			 	    }
				  return $(elem).val();
			    }
				'use strict';
				var mydata1 = [
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""},
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""},
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""},
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""},
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""},
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""},
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""},
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""},
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""},
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""},
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""}
				];
				jQuery("#rowed1").jqGrid({
					autowidth: true,
					datatype: "local",
					rowNum: 20,
					rowList: [10, 20, 30],
					rownumbers: true,
					shrinkToFit: false,
					height: "auto",
					pager: '#pager1',
					viewrecords: true,
					colNames:['작성자','요청부서', '요청자', '작업번호', '접수일자', '제목', '접수내용', '업무진행자', '완료일자', '처리완료결과', '업무피드백', ''],
					colModel:[
						{name:'writer',index:'writer', width:50, align: 'center', editable: true},
						{name:'requestTeam',index:'requestTeam', width:50, align: 'center', editable: true},
						{name:'requester',index:'requester', width:50, align: 'center', editable: true},
						{name:'opNum',index:'opNum', width:100, align: 'center', editable: true},
						{name:'receiptDate',index:'receiptDate',  width:120, align: 'center', editable: true},
						{name:'title',index:'title', width:100, editable: true,edittype:"textarea", editoptions:{rows:"1"}},
						{name:'contents',index:'contents', width:240, editable: true,edittype:"textarea", editoptions:{rows:"2"}},
						{name:'worker',index:'worker', width:60, align: 'center', editable: true},
						{name:'finishDate',index:'finishDate', width:120, align: 'center', editable: true},
						{name:'result',index:'result', width:200, editable: true,edittype:"textarea", editoptions:{rows:"2"}},
						{name:'feedback',index:'feedback', width:120, editable: true,edittype:"textarea", editoptions:{rows:"2"}},
						{name:'myac',index:'myac', width:30, sortable : false, align: 'center', formatter:'actions', formatoptions:{editbutton:false,delbutton:true}}
					],
					onSelectRow: function(id){
						if(id && id!==lastsel1){
							jQuery('#rowed1').jqGrid('restoreRow',lastsel1);
							jQuery('#rowed1').jqGrid('editRow',id,true);
							lastsel1=id;
						}
					}
				});

				for(var i=0;i < mydata1.length;i++)
				jQuery("#rowed1").jqGrid('addRowData',mydata1[i].id,mydata1[i]);
				// tab1
				jQuery("#rowed2").jqGrid({
					datatype: "local",
					colNames:['작성자','요청부서', '요청자', '작업번호', '접수일자', '제목', '접수내용', '업무진행자', '완료일자', '처리완료결과', '업무피드백', ''],
					colModel:[
						{name:'writer',index:'writer', width:50, align: 'center', editable: true},
						{name:'requestTeam',index:'requestTeam', width:50, align: 'center', editable: true},
						{name:'requester',index:'requester', width:50, align: 'center', editable: true},
						{name:'opNum',index:'opNum', width:80, align: 'center', editable: true},
						{name:'receiptDate',index:'receiptDate', width:120, align: 'center', editable: true},
						{name:'title',index:'title', width:100, editable: true,edittype:"textarea", editoptions:{rows:"1"}},
						{name:'contents',index:'contents', width:240, editable: true,edittype:"textarea", editoptions:{rows:"2"}},
						{name:'worker',index:'worker', width:50, align: 'center', editable: true},
						{name:'finishDate',index:'finishDate', width:80, align: 'center', editable: true},
						{name:'result',index:'result', width:200, editable: true,edittype:"textarea", editoptions:{rows:"2"}},
						{name:'feedback',index:'feedback', width:100, editable: true,edittype:"textarea", editoptions:{rows:"2"}},
						{name:'myac',index:'myac', width: 20, sortable : false, align: 'center', formatter:'actions', formatoptions:{editbutton:false,delbutton:true}}
					],
					onSelectRow: function(id){
						if(id && id!==lastsel1){
							jQuery('#rowed2').jqGrid('restoreRow',lastsel1);
							jQuery('#rowed2').jqGrid('editRow',id,true);
							lastsel1=id;
						}
					},
					rowNum: 20,
					rowList: [10, 20, 30],
					rownumbers: true,
					shrinkToFit: true,
            		autowidth: true,
					height: "auto",
					pager: '#pager2',
					gridview: true,
					viewrecords: true,
				});
				var mydata2 = [
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""},
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""},
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""},
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""},
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""},
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""},
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""},
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""},
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""},
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""},
					{writer:"오유진", requestTeam:"마케팅", requester:"염민철", opNum:"201912-C0011Y", receiptDate:"2019-12-26 14:10", title:"영업교육 메뉴 링크 변경",
					contents:"S-Work [영업교육] 메뉴의 진행 업체 변을 경우 에만 접속 허용처리 해놓음", worker:"오유진", finishDate:"2020-01-31 18:30", result:"- 자동로그인 처리 이상 없음 - ios, 안드로이드 테스트 결과 이상 없음", feedback:""}
				];
				for(var i=0;i < mydata2.length;i++)
				jQuery("#rowed2").jqGrid('addRowData',mydata2[i].id,mydata2[i]);
				// tab2
				$("#rowed1").jqGrid('navGrid',"#pager1",{edit:false,add:true,del:false,search:false,refresh:false});
				$("#rowed2").jqGrid('navGrid',"#pager2",{edit:false,add:true,del:false,search:false,refresh:false});
			});
		</script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- wrap -->
		<div id="wrap">
			<!--
			 class="snbright-style"
			 class="center-style"
			 class="side-hidden"
			-->

			<!-- header -->
			<div id="header">
				<div class="back">
					<h1><img src="../images/logo.png" alt="logo"></h1>
					<div class="hdata">
						<ul class="gnb">
							<li><a href="notice_list.html">컨텐츠 관리</a></li>
							<li><a href="carmanager_list.html">카매니저 관리</a></li>
							<li><a href="contract_manage_list.html">계약 관리</a></li>
							<li><span><a href="report_daily_list.html">일일 보고서</a></span></li>
							<li><a onclick="alert('퍼블리싱 현행화 필요');return false;">차량 관리</a></li>
							<li><a href="help_list.html">유지보수</a></li>
							<li><a href="car_list.html">프로모션 관리</a></li>
							<li><a href="manager_list.html">관리자 관리</a></li>
							<!-- <li><a href="request_list.html">GMK 요청사항</a></li> -->
							<li class="on"><a href="report_monthly_list.html">보고서 관리</a></li>
							<li><a href="infra_server_list.html">인프라 관리</a></li><!-- 2020-06-08 -->
							<li><a href="account_list.html">개인정보 보호</a></li><!-- 2020-07-09 -->
						</ul>
						<div class="right pd10">
							<span class="btnSet onlytxt"><input type="button" value="basic style" class="lsbasic" /></span>
							<span class="btnSet onlytxt"><input type="button" value="right style" class="lsright" /></span>
							<span class="btnSet onlytxt"><input type="button" value="center style" class="lscenter" /></span>
						</div>
					</div>
				</div>
			</div>
			<!-- //header -->

			<hr/>
			<!-- container -->
			<div id="container">
				<div class="back">
					<!-- snb -->
					<div class="snb">
						<strong>MENU</strong>
						<ul>
							<li><span><a href="report_monthly_list.html">월간 보고서</a></span></li>
							<li><span><a href="report_weekly_list.html">주간 보고서</a></span></li>
							<li><span><a href="report_development_request_list.html">개발 요청 이력 보고서</a></span></li>
							<li><span><a href="report_development_list.html">개발 이력</a></span></li>
						</ul>
						<strong>USER INFORMATION</strong>
						<ul>
							<li class="notlink user-date">3:00 PM | 12 May 2015</li>
							<li class="user-push"><span><a href="#none">Push Messege</a></span></li>
							<li class="user-setting"><span><a href="#none">Setting</a></span></li>
							<li class="user-logout"><span><a href="#">Logout</a></span></li>
						</ul>
					</div>
					<!---->

					<hr/>
					<div class="com-layout">
						<h2>
							<span><a href="main.html">보고서 관리</a></span>
							<span>개발 요청 이력 보고서</span>
							<input type="button" value="<" class="side-button" />
						</h2>
						<!-- contents -->
						<div class="contents">
							<div class="databox-line">
								<table cellpadding="0" cellspacing="0" border="0" class="tbvs1">
									<colgroup>
										<col width="160" />
										<col width="400" />
									</colgroup>
									<tbody>
										<tr>
											<th>월차정보</th>
											<td colspan="4">
												<select>
													<option>년 선택</option>
													<option>2019년</option>
													<option>2020년</option>
													<option>2021년</option>
												</select>
												<select>
													<option>월 선택</option>
													<option>1월</option>
													<option>2월</option>
													<option>3월</option>
													<option>4월</option>
													<option>5월</option>
												</select>
												<button class="btnColor bGray" id="openTab">생성</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!---->
							<div class="cTabWrap" style="display:none;">
								<!-- tab -->
								<div class="tabBack mt10">
									<div class="tabNav">
										<nav>
											<ul>
												<li class="on"><button data-name="0">Version 1</button></li>
												<li style="display:none;"><button data-name="1">Version 2</button></li>
												<li><button data-name="2">+</button></li>
											</ul>
										</nav>
									</div>
								</div>
								<!--// tab -->
								<div class="tabLayout">
									<div class="tabData tData0" style="display:block;">
										<div class="databox-line">
											<table cellpadding="0" cellspacing="0" border="0" class="tbvs1">
												<colgroup>
													<col width="60" />
													<col width="400" />
												</colgroup>
												<tbody>
													<tr>
														<th>이력 DATE</th>
														<td>
															<input type="text" value="01/12/2019" readonly="" class="cal" /> ~
															<input type="text" value="31/12/2019" readonly="" class="cal" />
															<button class="btnColor bGray">데이터 가져오기</button>
														</td>
													</tr>
												</tbody>
											</table>
											<div class="listControlBox tCenter">
												<button class="btnColor bGray" id="previewHtml">HTML 미리보기</button>
												<button class="btnColor bGray">PDF 생성</button>
												<button class="btnColor bGray" id="previewPdf">PDF 미리보기</button>
												<button class="btnColor bGray">엑셀 다운로드</button>
											</div>
										</div>
										<div class="jqGridSet mt10">
											<table id="rowed1"><tr><td></td></tr></table>
											<div id="pager1"></div>
										</div>
									</div>
									<div class="tabData tData1">
										<div class="databox-line">
											<table cellpadding="0" cellspacing="0" border="0" class="tbvs1">
												<colgroup>
													<col width="60" />
													<col width="400" />
												</colgroup>
												<tbody>
													<tr>
														<th>이력 DATE</th>
														<td>
															<input type="text" placeholder="주차 입력"/>
															<input type="text" readonly="" class="cal" /> ~
															<input type="text" readonly="" class="cal" />
															<button class="btnColor bGray">데이터 가져오기</button>
														</td>
													</tr>
												</tbody>
											</table>
											<div class="listControlBox tCenter">
												<button class="btnColor bGray">PDF 적용</button>
												<button class="btnColor bGray">최종 미리보기</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //tab-wrap -->
							<div class="btnBox tCenter">
								<button class="btnColor bSky">저장</button>
								<button class="btnColor bGray" onclick="location.href='report_weekly_list.html'">취소</button>
								<button class="btnColor bGray" onclick="location.href='report_weekly_list.html'">목록</button>
							</div>
						</div>
						<!-- //contents -->
					</div>
				</div>
			</div>
			<!-- //container -->
			<!-- html 미리보기 팝업  -->
			<div class="pop previewHtmlPop" style="display:none;">
				<h1>Html 미리보기</h1>
				<img src="../images/btn_pclose.png" alt="Close" class="pclose">
				<div class="popdata">
					<img src="format/images/bg/development_history01.png" alt="html 불러오기"/>
					<img src="format/images/bg/development_history02.png" alt="html 불러오기"/>
					<img src="format/images/bg/development_history03.png" alt="html 불러오기"/>
				</div>
				<div class="pbtn">
					<button class="btnColor bGray">닫기</button>
				</div>
			</div>
			<!---->
			<!-- pdf 미리보기 팝업  -->
			<div class="pop previewPdfPop" style="display:none;">
				<h1>Pdf 미리보기</h1>
				<img src="../images/btn_pclose.png" alt="Close" class="pclose">
				<div class="popdata">
					<img src="format/images/bg/development_history01.png" alt="html 불러오기"/>
					<img src="format/images/bg/development_history02.png" alt="html 불러오기"/>
					<img src="format/images/bg/development_history03.png" alt="html 불러오기"/>
				</div>
				<div class="pbtn">
					<button class="btnColor bGray">닫기</button>
				</div>
			</div>
			<!---->
			<div id="blind_wrap" style="display:none;"></div>
			<hr/>
			<!-- footer -->
			<div id="footer">
				<div class="back">
					<p>Copyright 2005. THINK TREE.All Rights Reserved.</p>
					<div>
						<span class="btnSet pagetop"><a>TOP</a></span>
					</div>
				</div>
			</div>
			<!-- //footer -->

		</div>
		<!-- //wrap -->
	</body>

</html>
