<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>GMK</title>
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/basic.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('.botInfoOpen').click(function(){
					$('.botInfoPop').show();
					$('#blind_wrap').show();
					$('html').css('overflow','hidden');
				}); // 하단 정보 입력 팝업 열기
				$('.btnMultToggle').click(function(){
					$('.mult').toggle();
				});
			})
		</script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->

		<!-- 하단 정보 입력 팝업 / 161118 추가 -->
		<div class="pop botInfoPop" style="display:none;">
			<h1>하단 정보 입력</h1>
			<img src="../images/btn_pclose.png" alt="Close" class="pclose">
			<div class="popdata">
				<div class="databox-line">
					<table cellpadding="0" cellspacing="0" border="0" class="tbws1">
						<colgroup>
							<col width="150" />
							<col />
						</colgroup>
						<tbody>
							<tr>
								<th>하단 정보</th>
								<td>
									<div class="taSet">
										<textarea rows="10"></textarea>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="pbtn">
				<input type="button" value="저장" class="btnColor bGray" />
				<input type="button" value="취소" class="btnColor bPurple" />
			</div>
		</div>
		<!---->
		<div id="blind_wrap" style="display:none;"></div>

		<!-- wrap -->
		<div id="wrap">
			<!--
			 class="snbright-style"
			 class="center-style"
			 class="side-hidden"
			-->

			<!-- header -->
			<div id="header">
				<div class="back">
					<h1><img src="../images/logo.png" alt="logo"></h1>
					<div class="hdata">
						<ul class="gnb">
							<li><a href="notice_list.html">컨텐츠 관리</a></li>
							<li><a href="carmanager_list.html">카매니저 관리</a></li>
							<li><a href="contract_manage_list.html">계약 관리</a></li>
							<li><a onclick="alert('퍼블리싱 현행화 필요');return false;">차량 관리</a></li>
							<li><a href="help_list.html">유지보수</a></li>
							<li><a href="car_list.html">프로모션 관리</a></li>
							<li><a href="manager_list.html">관리자 관리</a></li>
							<!-- <li><a href="request_list.html">GMK 요청사항</a></li> -->
							<li class="on"><a href="report_monthly_list.html">보고서 관리</a></li>
							<li><a href="infra_server_list.html">인프라 관리</a></li><!-- 2020-06-08 -->
							<li><a href="account_list.html">개인정보 보호</a></li><!-- 2020-07-09 -->
						</ul>
						<div class="right pd10">
							<span class="btnSet onlytxt"><input type="button" value="basic style" class="lsbasic" /></span>
							<span class="btnSet onlytxt"><input type="button" value="right style" class="lsright" /></span>
							<span class="btnSet onlytxt"><input type="button" value="center style" class="lscenter" /></span>
						</div>
					</div>
				</div>
			</div>
			<!-- //header -->

			<hr/>
			<!-- container -->
			<div id="container">
				<div class="back">
					<!-- snb -->
					<div class="snb">
						<strong>MENU</strong>
						<ul>
							<li><span><a href="report_monthly_list.html">월간 보고서</a></span></li>
							<li><span><a href="report_weekly_list.html">주간 보고서</a></span></li>
							<li><span><a href="report_daily_list.html">일일 보고서</a></span></li>
							<li><span><a href="report_development_request_list.html">개발 요청 이력 보고서</a></span></li>
							<li><span><a href="report_development_list.html">개발 이력</a></span></li>
						</ul>
						<strong>USER INFORMATION</strong>
						<ul>
							<li class="notlink user-date">3:00 PM | 12 May 2015</li>
							<li class="user-push"><span><a href="#none">Push Messege</a></span></li>
							<li class="user-setting"><span><a href="#none">Setting</a></span></li>
							<li class="user-logout"><span><a href="#">Logout</a></span></li>
						</ul>
					</div>
					<!---->

					<hr/>
					<div class="com-layout">
						<h2>
							<span><a href="main.html">보고서 관리</a></span>
							<span>개발 이력</span>
							<input type="button" value="<" class="side-button" />
						</h2>
						<!-- contents -->
						<div class="contents">
							<div class="databox-line">
								<div class="headBox tRight">
									<span class="btnSet onlytxt" id="dateReset"><input class="btnSet" type="button" value="초기화" /></span>
									<span class="mr5 lh27">
										<input type="text" readonly="" class="cal" /> ~
										<input type="text" readonly="" class="cal" />
									</span>
									<select class="mr5">
										<option>작성자</option>
										<option>요청부서</option>
										<option>요청자</option>
										<option>제목</option>
										<option>업무진행자</option>
									</select>
									<span class="list-search mr5">
										<input type="text" placeholder="Search..."/><input type="submit" class="search-icon" value="search" />
									</span>
									<select class="w80 mr5">
										<option>10개</option>
										<option>20개</option>
										<option>30</option>
									</select>
								</div>
								<!-- list -->
								<table cellpadding="0" cellspacing="0" border="0" class="tbls1">
									<colgroup>
										<col width="60" />
										<col width="50" />
										<col width="200" />
										<col width="80" />
										<col width="95" />
										<col width="80" />
										<col width="180" />
										<col width="400" />
										<col width="80" />
										<col width="180" />
										<col width="180" />
										<col width="60" />
									</colgroup>
									<thead>
										<tr>
											<th>
												<input type="checkbox"><label></label>
											</th>
											<th>NO.</th>
											<th>작업번호</th>
											<th>작성자</th>
											<th>요청부서</th>
											<th>요청자</th>
											<th>요청일자</th>
											<th>제목</th>
											<th>업무진행자</th>
											<th>완료일자</th>
											<th>등록일자</th>
											<th>처리완료<br/>여부</th>
										</tr>
									</thead>
									<tbody>
										<!-- Loop -->
										<tr>
											<td>
												<input type="checkbox"><label></label>
											</td>
											<td>15</td>
											<td>202002-C0001</td>
											<td>오유진</td>
											<td>마케팅</td>
											<td>염민철</td>
											<td>2020-02-01 0:00</td>
											<td class="subject tleft"><a href="report_development_view.html">2월 정기물 업데이트</a></td>
											<td>김재성<br/>오유진</td>
											<td>2020-02-01 0:30</td>
											<td>2020-02-01 0:30</td>
											<td>Y</td>
										</tr>
										<!-- //Loop -->
										<tr>
											<td>
												<input type="checkbox"><label></label>
											</td>
											<td>14</td>
											<td>202001-C0012 <button class="btnMultToggle">+1</button></td>
											<td>오유진</td>
											<td>마케팅</td>
											<td>염민철</td>
											<td>2020-01-22 14:44</td>
											<td class="subject tleft"><a href="report_development_view.html">계약서 휴대폰번호 필드 유효성 처리 요청</a></td>
											<td>김재성</td>
											<td>2020-02-06 10:00</td>
											<td>2020-02-06 10:00</td>
											<td>Y</td>
										</tr>
										<tr class="mult" style="display:none">
											<td><input type="checkbox"><label></label></td>
											<td>ㄴ</td>
											<td>202001-C001201</td>
											<td>오유진</td>
											<td>마케팅</td>
											<td>염민철</td>
											<td>2020-01-22 14:44</td>
											<td class="subject tleft"><a href="report_development_view2.html">계약서 휴대폰번호 필드 유효성 처리 요청</a></td>
											<td>김재성</td>
											<td>2020-02-06 10:00</td>
											<td>2020-02-06 10:00</td>
											<td>Y</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox"><label></label>
											</td>
											<td>13</td>
											<td>202001-C0011</td>
											<td>오유진</td>
											<td>IT</td>
											<td>장기선</td>
											<td>2020-01-22 13:21</td>
											<td class="subject tleft"><a href="report_development_view.html">시스템간의 DB link 조사</a></td>
											<td>김재성</td>
											<td>2020-02-29 19:47</td>
											<td>2020-02-29 19:47</td>
											<td>Y</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox"><label></label>
											</td>
											<td>12</td>
											<td>202001-C0010</td>
											<td>오유진</td>
											<td>IT</td>
											<td>이주영</td>
											<td>2020-02-01 0:00</td>
											<td class="subject tleft"><a href="report_development_view.html">선포인트 - 삼성카드 카드번호 필드 관련 수정 및 응대</a></td>
											<td>오유진</td>
											<td>2020-01-30 11:55</td>
											<td>2020-01-30 11:55</td>
											<td>Y</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox"><label></label>
											</td>
											<td>11</td>
											<td>202002-C0001</td>
											<td>오유진</td>
											<td>마케팅</td>
											<td>염민철</td>
											<td>2020-02-01 0:00</td>
											<td class="subject tleft"><a href="report_development_view.html">트레일블레이저 - 가격표 관련</a></td>
											<td>김재성<br/>오유진</td>
											<td>2020-02-01 0:30</td>
											<td>2020-02-01 0:30</td>
											<td>Y</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox"><label></label>
											</td>
											<td>10</td>
											<td>202002-C0001</td>
											<td>오유진</td>
											<td>마케팅</td>
											<td>염민철</td>
											<td>2020-02-01 0:00</td>
											<td class="subject tleft"><a href="report_development_view.html">12월 미스터리 쇼퍼 개인정보 삭제 요청</a></td>
											<td>김재성<br/>오유진</td>
											<td>2020-02-01 0:30</td>
											<td>2020-02-01 0:30</td>
											<td>Y</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox"><label></label>
											</td>
											<td>9</td>
											<td>202002-C0001</td>
											<td>오유진</td>
											<td>마케팅</td>
											<td>염민철</td>
											<td>2020-02-01 0:00</td>
											<td class="subject tleft"><a href="report_development_view.html">신차 - 트레일블레이저 정기물 업데이트</a></td>
											<td>김재성<br/>오유진</td>
											<td>2020-02-01 0:30</td>
											<td>2020-02-01 0:30</td>
											<td>Y</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox"><label></label>
											</td>
											<td>8</td>
											<td>202002-C0001</td>
											<td>오유진</td>
											<td>ThinkTree</td>
											<td>오유진</td>
											<td>2020-02-01 0:30</td>
											<td class="subject tleft"><a href="report_development_view.html">S-Work to DMS 계약서 전송 체크 및 검증 협조 요청</a></td>
											<td>김재성</td>
											<td>2020-02-01 0:30</td>
											<td>2020-02-01 0:30</td>
											<td>Y</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox"><label></label>
											</td>
											<td>7</td>
											<td>202002-C0001</td>
											<td>오유진</td>
											<td>마케팅</td>
											<td>염민철</td>
											<td>2020-02-01 0:00</td>
											<td class="subject tleft"><a href="report_development_view.html">1월 긴급 정기물 업데이트</a></td>
											<td>김재성<br/>오유진</td>
											<td>2020-02-01 0:30</td>
											<td>2020-02-01 0:30</td>
											<td>Y</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox"><label></label>
											</td>
											<td>6</td>
											<td>202002-C0001</td>
											<td>오유진</td>
											<td>마케팅</td>
											<td>염민철</td>
											<td>2020-02-01 0:00</td>
											<td class="subject tleft"><a href="report_development_view.html">임팔라 단종 - 차종 삭제</a></td>
											<td>김재성<br/>오유진</td>
											<td>2020-02-01 0:30</td>
											<td>2020-02-01 0:30</td>
											<td>Y</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox"><label></label>
											</td>
											<td>5</td>
											<td>202001-C0003</td>
											<td>오유진</td>
											<td>마케팅</td>
											<td>염민철</td>
											<td>2020-01-02 16:17</td>
											<td class="subject tleft"><a href="report_development_view.html">트래버스 고객확인서 필수 첨부 해제</a></td>
											<td>김재성</td>
											<td>2020-02-01 0:30</td>
											<td>2020-02-01 0:30</td>
											<td>Y</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox"><label></label>
											</td>
											<td>4</td>
											<td>202001-C0002</td>
											<td>오유진</td>
											<td>마케팅</td>
											<td>염민철</td>
											<td>2020-01-02 9:30</td>
											<td class="subject tleft"><a href="report_development_view.html">S-Work 신규 기기 대응 작업</a></td>
											<td>조명진<br/>김재성</td>
											<td>2020-02-10 21:00</td>
											<td>2020-02-10 21:00</td>
											<td>Y</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox"><label></label>
											</td>
											<td>3</td>
											<td>202001-C0001</td>
											<td>오유진</td>
											<td>마케팅</td>
											<td>염민철</td>
											<td>2020-01-01 0:00</td>
											<td class="subject tleft"><a href="report_development_view.html">1월 정기물 업데이트</a></td>
											<td>김재성<br/>오유진</td>
											<td>2020-01-01 0:30</td>
											<td>2020-01-01 0:30</td>
											<td>Y</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox"><label></label>
											</td>
											<td>2</td>
											<td>201912-C0012</td>
											<td>오유진</td>
											<td>마케팅</td>
											<td>염민철</td>
											<td>2019-12-30 16:23</td>
											<td class="subject tleft"><a href="report_development_view.html">Traiblazer SOC 대응</a></td>
											<td>김재성<br/>조혜란</td>
											<td>2019-01-16 18:00</td>
											<td>2019-01-16 18:00</td>
											<td>Y</td>
										</tr>
										<tr>
											<td>
												<input type="checkbox"><label></label>
											</td>
											<td>1</td>
											<td>201912-C0011</td>
											<td>오유진</td>
											<td>마케팅</td>
											<td>염민철</td>
											<td>2019-12-26 14:10</td>
											<td class="subject tleft"><a href="report_development_view.html">영업교육 메뉴 링크 변경</a></td>
											<td>오유진</td>
											<td>2019-01-31 18:30</td>
											<td>2019-01-31 18:30</td>
											<td>Y</td>
										</tr>
									</tbody>
								</table>
								<!---->
								<div class="listControlBox">
									<div class="controlBox left">
										<button class="btnColor bGreen">선택삭제</button>
									</div>
									<span class="btnBox">
										<a href="report_development_write.html" class="btnColor bRed">신규등록</a>
									</span>
									<!---->
									<div class="paginate">
										<a class="first">처음</a>
										<a class="prev">이전</a>
										<span>
											<strong>1</strong>
											<a>2</a>
											<a>3</a>
											<a>4</a>
											<a>5</a>
											<a>6</a>
											<a>7</a>
											<a>8</a>
											<a>9</a>
											<a>10</a>
										</span>
										<a class="next">다음</a>
										<a class="last">마지막</a>
									</div>
								</div>
							</div>
						</div>
						<!-- //contents -->
					</div>
				</div>
			</div>
			<!-- //container -->

			<hr/>
			<!-- footer -->
			<div id="footer">
				<div class="back">
					<p>Copyright 2005. THINK TREE.All Rights Reserved.</p>
					<div>
						<span class="btnSet pagetop"><a>TOP</a></span>
					</div>
				</div>
			</div>
			<!-- //footer -->

		</div>
		<!-- //wrap -->
	</body>
</html>
