<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
		<title>GMK</title>
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<!-- 
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/request.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/basic.js"></script>
		-->
	</head>
	
	<style>
		
		body {padding:10px}
		.inBlock {display:inline-block;}
		.mg0 {margin:0;}
		#content {line-height:24px;}
		#content dl.record dd {line-height:26px;margin-bottom:5px;}
		#content dl dt:before {content:"⊙";margin-right:3px;}
		#content strong{display:block;}

	</style>
	
	<body>
		<div id="header">
			<h1>GMK S-Work 업무요청</h1>
			<strong>2017-00-00 00:00 기준 진행되고 있는 업무요청 건입니다.</strong>
		</div>
		<div id="content">
			<dl><dt class="inBlock">주제 :</dt> <dd class="inBlock mg0">요청사항 타이틀이 보입니다. 요청사항 타이틀이 보입니다.</dd></dl>
			<dl>
				<dt>상세 내용</dt>
				<dd>
					내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 
					내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 
					내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
					내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
				</dd>
			</dl>
			<dl><dt class="inBlock">작성인 :</dt> <dd class="inBlock mg0">염민철</dd></dl>
			<dl><dt class="inBlock">작성날짜 :</dt> <dd class="inBlock mg0">2017-00-00 00:00</dd></dl>
			<dl><dt class="inBlock">참여업체 :</dt> <dd class="inBlock mg0">씽크트리, 위버, 위즈빌</dd></dl>
			<hr />
			<dl class="record">
				<dt>업무 논의 이력</dt>
				<dd>
					<strong>본 내용은 씽크트리 외 위버와 위즈빌도 같이 진행해야 합니다.</strong>
					씽크트리(글쓴이이름)  2017.06.09 14:56
				</dd>
				<dd>
					<strong>그럼, 해당 내용은 협업으로 진행해 보도록 하죠</strong>
					마케팅팀(염민철) 2017.06.09 15:56
				</dd>
				<dd>
					<strong>위버와 위즈빌 추가하도록 하겠습니다.</strong>
					씽크트리(글쓴이이름)  2017.06.09 14:56
				</dd>
			</dl>
			<dl>
				<dt>작업일정</dt>
				<dd><b>위버 [작업중]</b></dd>
				<dd>
					<ul>
						<li>작업예상일정 : 2017-00-00 ~ 2017-00-00</li>
						<li>작업비고 : 비고내용이 나올 영역입니다.</li>
					</ul>
				</dd>
				<dd><b>위즈빌 [지연 작업중]</b></dd>
				<dd>
					<ul>
						<li>작업예상일정 : 2017-00-00 ~ 2017-00-00</li>
						<li>
							변경일정 :  2017-00-00 ~ 2017-00-00
							<span>지연사유 및 변경일정에 관한 내용이 노출됩니다.</span>
						</li>
					</ul>
				</dd>
				<dd><b>씽크트리 [작업완료]</b></dd>
				<dd>
					<ul>
						<li>작업예상일정 : 2017-00-00 ~ 2017-00-00</li>
						<li>
							변경일정 :  2017-00-00 ~ 2017-00-00
							<span>지연사유 및 변경일정에 관한 내용이 노출됩니다.</span>
						</li>
						<li>작업완료</li>
					</ul>
				</dd>
			</dl>
			<hr />
			<dl>
				<dt>작업 URL</dt><dd><a href="">http://s-work.co.kr</a></dd>
			</dl>
			<p>본 메일은 발신전용 메일입니다. 이메일을 더 이상 수신하지 않으려면 시스템 관리자에게 연락하시기 바랍니다. <br />
			(시스템 관리자 – hk-cho@think-tree.co.kr )
			</p>
		</div>
	</body>
</html>