<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
<title>GMK</title>
<link rel="shortcut icon" href="images/favicon.ico" />
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="../css/common.css" />
<link rel="stylesheet" href="css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="css/request.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script type="text/javascript" src="../js/basic.js"></script>
<script type="text/javascript" src="js/swiper.min.js"></script>


<script type="text/javascript">
function state( val )
{
    if( val == 'cancel' )
    { document.getElementById('reasonBox').style.display  = 'block';}
    else
    {document.getElementById('reasonBox').style.display  = 'none';}
}
</script>

<script type="text/javascript">
	$(document).ready(function() {
		$("#chk7").change(function() {
			$(".delay7").toggle(); 
			return false;
		});
	});
</script>

</head>
<body>
	<!-- skip-navigation -->
	<div class="skip-navigation">
		<p><a href="#container" tabindex="0">본문 바로가기</a></p>
	</div>
	<!-- //skip-navigation -->
	<!-- wrap -->
	<div id="wrap">
		<!--
			 class="snbright-style"
			 class="center-style"
			 class="side-hidden"
			-->
		<!-- header -->
		<div id="header">
			<div class="back">
				<h1><img src="../images/logo.png" alt="logo"></h1>
				<div class="hdata">
					<ul class="gnb">
						<li class="on"><a href="request_list.html">요청사항</a></li>
					</ul>
				</div>
				<span class="topLogout"><a href="login.html">Logout</a></span>
			</div>
		</div>
		<!-- //header -->

		<hr />
		<!-- container -->
		<div id="container">
			<div class="back">
				<!-- snb -->
				<div class="snb">
					<strong>USER INFORMATION</strong>
					<ul>
						<li class="notlink user-date">3:00 PM | 12 May 2015</li>
						<li class="user-logout"><span><a href="#">Logout</a></span></li>
					</ul>
				</div>
				<!---->

				<!-- 2017-05-30 이미지 스와이프 -->
				<div class="request_pop">
					<div class="pop popSwipe" style="display: none;">
						<div class="imgPop">
							<div class="iPopBack">
								<div class="iPopBack">
									<div class="iPopBack">
										<div class="iGBtn">
											<input type="button" value="SKIP" class="iBtnSkip" />
											<input type="button" value="CLOSE" class="iBtnClose" style="display: none;" />
										</div>
										<div class="imgPopSwiper">
											<div class="imgPagination"></div>
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<div class="iGimg">
														<div><img src="../images/logo.png" alt="" /></div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="iGimg">
														<div><img src="../images/new.png" alt="" /></div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="iGimg">
														<div><img src="../images/sample_car.png" alt="" /></div>
													</div>
												</div>
												<div class="swiper-slide last">
													<div class="iGimg">
														<div><img src="../images/new.png" alt="" /></div>
													</div>
												</div>
											</div>
											<div class="imgChoiceBTn">
												<div class="swiper-button-prev"></div>
												<div class="swiper-button-next"></div>
											</div>
											<div class="imgChoiceBTn imgDownBTn">
												<div><a href="images/new.png" download><img src="../images/downIcon.png" alt="이미지 다운로드" /></a></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<script type="text/javascript">
								$(document).ready(function() {
									$('.request_layout .imageBox .imgselected a').click(
									function() {
										$('.popSwipe').show();
										$('#blind_wrap').show();
										var swiperImg = new Swiper('.imgPopSwiper', {
											spaceBetween : 20,
											pagination : '.imgPagination',
											paginationClickable : true,
											nextButton : '.imgChoiceBTn .swiper-button-next',
											prevButton : '.imgChoiceBTn .swiper-button-prev',
										});return false;
									}); //이미지 팝업 열기 
										$(".iGBtn .iBtnSkip").bind('tap click',
										function() {
										$(".popSwipe").hide();
										$("#blind_wrap").hide();
										return false;
										}); //팝업닫기
									})
							</script>
						</div>
					</div>
				</div>
				
				<!-- 2017-07-10 by 메뉴 팝업 hr-park -->
				<div class="menupop" style="display:none">
					<div class="menuArea">
						<div class="checkArea">
							<div class="iGBtn"><input type="button" value="CLOSE" class="iBtnSkip" /></div>
							<div class="menuList btnBoxList pd10 mt10">
								<ul class="menubox">
									<li><a href="request_list.html">목록으로</a></li>
									<li><a href="request_write.html">수정</a></li>
									<li><a href="#">삭제</a></li>
									<li></li>
								</ul>
							</div>
						</div>
						<script type="text/javascript">
							$(document).ready(function() {
								$('.listControlBox .menuBtn').click(
								function() {
									$('.menupop').show();
									$('#blind_wrap').show();
									return false;
								}); // 팝업 열기 
								$(".iGBtn .iBtnSkip").bind('tap click',
									function() {
									$(".menupop").hide();
									$("#blind_wrap").hide();
									return false;
									}); //팝업닫기
								})
						</script>
					</div>
				</div>
				<!-- //메뉴 팝업 -->
				
				<div id="blind_wrap" style="display: none;"></div>
				<!-- 2017-05-30 -->

				<hr />
				<div class="com-layout">
					<h2>
						<span><a href="request_list.html">&bull;요청사항</a></span>
						<input type="button" value="<" class="side-button" />
					</h2>
					<div class="contents">
						<div class="request_layout">
							<div class="view-line mt10">
								<div class="viewTit">
									<div class="viewBox">
										<div class="viewTitle">
											<strong>요청사항 타이틀이 보입니다. 요청사항 타이틀이 보입니다. 요청사항 타이틀이 보입니다. </strong>
											<span>염민철 &#124; 2017.05.12</span>
										</div>
									</div>
									<div class="viewTitleSub">
										<span class="view_division"> 긴급 / CSM게시판 </span>
										<span class="viewState blueColor right">작업 중</span>
									</div>
								</div>
								<div class="viewCon pd20">내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
									내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
									내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
									내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
									내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
									내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
									내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용
									내용 내용 내용</div>
								<div class="imageBox pd10">
									<span class="minTit">이미지</span>
									<div class="imgselected mrb5"><a href="">Filename.jpg</a></div>
									<div class="imgselected mrb5"><a href="">Filename.jpg</a></div>
								</div>
								<div class="fileBox pd10">
									<span class="minTit">첨부파일</span>
									<div class="imgselected mrb5"><a href="">Filename.pdf</a></div>
									<div class="imgselected mrb5"><a href="">Filename.pdf</a></div>
								</div>
							</div>
							<!-- view-line -->

							<div class="view-line feedback mt10">
								<div class="otherArea pd10">
									<span class="mr10 minTit">참여업체</span>
									<span class="mr5">씽크트리</span>
									<span class="mr5">위버</span>
									<span class="mr5">위즈빌</span>
								</div>
							</div>

							<div class="view-line commentBox mt10">
								<div class="commentTop pd10">
									<span class="total">댓글 수 <span>12</span></span>
									<input type="button" class="replyIcon replyOpen" />
									<input type="button" class="replyIcon replyClose" style="display: none" />
									<!-- <span class="btnBoxList"><input type="button" value="새로고침" class="right btngreenBg" /></span>  -->
								</div>
								<script type="text/javascript">
									$(document).ready(function() {
										$('.request_layout .commentBox .replyOpen').click(
										function() {
											$(this).hide();
											$('.comment').show();
											$('.request_layout .commentBox .replyClose').show();
											return false;
										}); // 팝업 열기
										$(".request_layout .commentBox .replyClose").bind('tap click',
											function() {
												$(this).hide();
												$('.comment').hide();
												$('.request_layout .commentBox .replyOpen').show();
											return false;
											}); //팝업닫기
										})
								</script>
								<div class="comment" style="display:none;">
									<ul class="pd10">
										<li class="replyList">
											<p>
												<strong>댓글의 내용이 나올 부분입니다 댓글의 내용이 나올 부분입니다. 댓글은 말줄임이 없습니다.</strong>
											</p>
											<p>
												염민철 &#124; 2017.05.24 14:56 <input type="button" value="답글달기" class="btnRe" />
											</p>
										</li>
										<li class="replyList reply">
											<p>
												<strong>댓글의 답글은 5Depth 까지만 나오게 할까 합니다.</strong>
											</p>
											<p>염민철 &#124; 2017.05.24 14:56</p>
										</li>
										<li>
											<p>
												<strong>댓글의 내용이 나올 부분입니다 댓글은 페이지 표시가 없습니다 일단은 계속 계속 밑으로 보여지게 합니다.</strong>
											</p>
											<p>
												염민철 &#124; 2017.05.24 14:56 <input type="button" value="답글달기" class="btnRe" />
											</p>
										</li>
										<li class="replyList">
											<p>
												<strong>댓글의 내용이 나올 부분입니다 댓글도 최신 등록한 글이 제일 위로 오게 합니다.</strong>
											</p>
											<p>
												염민철 &#124; 2017.05.24 14:56 <input type="button" value="답글취소" class="btnCancel" />
											</p>
										</li>
										<li class="replyList reply">
											<div class="replyArea">
												<textarea rows="3" class="wFull" placeholder="댓글을 입력해주세요"></textarea>
												<input type="button" value="확인" class="btnOk" />
											</div>
										</li>
										<li>
											<p>
												<strong>댓글의 내용이 나올 부분입니다 댓글은 페이지 표시가 없습니다 일단은 계속 계속 밑으로 보여지게 합니다.</strong>
											</p>
											<p>
												염민철 &#124; 2017.05.24 14:56 <input type="button" value="답글달기" class="btnRe" />
											</p>
										</li>
										<li class="replyList">
											<p>
												<strong>댓글의 내용이 나올 부분입니다 댓글의 내용이 나올 부분입니다.</strong>
											</p>
											<p>
												염민철 &#124; 2017.05.24 14:56 <input type="button" value="답글달기" class="btnRe" />
											</p>
										</li>
									</ul>
								</div>
								<div class="commentInput">
									<div class="replyArea">
										<textarea rows="4" placeholder="댓글을 입력해주세요" class="wFull"></textarea>
										<span class="btnBoxList"><input type="button" value="새로고침" class="right btngreenBg" /></span>
										<input type="button" value="확인" class="btnOk" />
									</div>
								</div>
								<!--  //commentBox -->
							</div>

							<div class="view-line feedback mt10">
								<div class="status checkArea pd10">
									<span class="mr10 minTit">진행현황</span>
									<span class="viewState blueColor ml10">작업 중</span>
									<!-- <span class="viewState greenColor ml10">작업완료</span> -->
									<!-- <span class="viewState redColor ml10">작업보류</span> -->
									<input type="button" class="replyIcon proOpen" />
									<input type="button" class="replyIcon proClose" style="display: none" />
								</div> 
								<script type="text/javascript">
									$(document).ready(function() {
										$('.request_layout .status .proOpen').click(
										function() {
											$(this).hide();
											$('.progressOpen').show();
											$('.request_layout .status .proClose').show();
											return false;
										}); // 팝업 열기
										$(".request_layout .status .proClose").bind('tap click',
											function() {
												$(this).hide();
												$('.progressOpen').hide();
												$('.request_layout .status .proOpen').show();
											return false;
											}); //팝업닫기
										})
								</script>
								<div class="progressOpen" style="display:none">
									<div class="progress">
										<strong class="wizvil">위즈빌</strong>
										<div class="expected checkArea">
											<em>예정일정</em>
											<span class="mr5 lh27">
												<input type="text" readonly="" class="cal" /> ~
												<input type="text" readonly="" class="cal" />
											</span>
											<input type="checkbox" name="schedule" id="chk7" /><label for="chk7">작업지연</label></span>
										</div>
										<div class="delay delay7 checkArea" style="display:none">
											<em>지연일정1</em>
											<span class="mr5 lh27">
												<input type="text" readonly="" class="cal" /> ~
												<input type="text"readonly="" class="cal" />
											</span>
											<select onchange="state(this.value);" id="state" name="state" class="mr5">
												<option>작업중</option>
												<option>작업완료</option>
												<option>작업보류</option>
												<option value="cancel">작업취소</option>
												<option>작업없음</option>
											</select>
											<input type="checkbox" name="schedule" id="chk8" /><label for="chk8">작업지연</label>
											<span class="reason"><input type="text" id="reasonBox" placeholder="지연사유를 입력하세요."  /></span>
										</div>
										<div class="remarks checkArea">
											<em>비고</em>
											<div><input type="text" class="" /></div>
										</div>
									</div>
									<div class="progress list2">
										<strong class="uber">위버</strong>
										<div class="otherArea">
											<div class="expected checkArea">
												<em>예정일정</em> 8/12/2018 ~ 8/12/2018
												<span class="viewState blueColor ml10">작업 중</span>
												<!-- <span class="viewState greenColor ml10">작업완료</span> -->
												<!-- <span class="viewState redColor ml10">작업보류</span> -->
											</div>
										</div>
									</div>
									<div class="progress">
										<strong class="think">씽크트리</strong>
										<div class="otherArea">
											<div class="expected checkArea">
												<em>예정일정</em>
												<span class="cancel">8/12/2018 ~ 8/12/2018</span>
											</div>
											<div class="delay checkArea">
												<em>지연일정</em> 8/12/2018 ~ 8/12/2018
												<span class="viewState blueColor ml10">작업 중</span>
												<!-- <span class="viewState greenColor ml10">작업완료</span> -->
												<!-- <span class="viewState redColor ml10">작업보류</span> -->
												<p>지연사유가 나오는 부분입니다.</p>
											</div>
											<div class="complete checkArea">
												<em>완료일자</em> 8/12/2018
											</div>
											<div class="remarks checkArea">
												<em>비고</em>
												<span>비고 내용이 나올 부분입니다.</span>
											</div>
										</div>
									</div>
									<div class="btnBoxList">
										<input type="button" class="saveBtn right" value="진행현황 저장하기" onclick="" />
									</div>
									<script>
										$(document).ready(function() {
											$('.btnBoxList .saveBtn').click(
											function() {
												alert('저장되었습니다.');
											}); // 팝업 열기
											})
									</script>
								</div>
							</div>
							
							<div class="list mt20">
								<dl class="prev pd10">
									<dt>이전글</dt>
									<dd><a href="#">요청사항 타이틀이 보입니다.</a></dd>
								</dl>
								<dl class="next pd10">
									<dt>다음글</dt>
									<dd><a href="#">요청사항 타이틀이 보입니다.</a></dd>
								</dl>
							</div>
							<!-- //view-line -->
						</div>
						<!-- //request_layout -->
					</div>
					<!-- //contents -->
					<div class="listControlBox btnBoxList pd10"><button class="btnCircle menuBtn" >+</button></div>
					<!-- 
					<div class="listControlBox btnBoxList pd10">
						<span class="left">
							<input type="button" value="목록" onclick="location.href='request_list.html'" />
						</span>
						<span class="right">
							<input type="button" class="btngreenBg" onclick="location.href='request_write.html'" value="수정" />
							<input type="button" class="btnredBg" value="삭제" onclick="" />
						</span>
					</div>
					-->
				</div>
				<!-- //com-layout -->
			</div>
			<!-- //back -->
		</div>
		
		<!-- //container -->
		<div id="footer">
			<div class="back">
				<p>Copyright 2005. THINK TREE.All Rights Reserved.</p>
				<div>
					<span class="btnSet pagetop"><a>TOP</a></span>
				</div>
			</div>
		</div>
		<script>
			$(".pagetop").on("click", function() {
				$('html, body').animate({
					'scrollTop' : 0
				});
				// 	$('html, body').scrollTop(0);
			})
		</script>
	</div>
	<!-- //wrap -->
</body>
</html>
