<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>GMK</title>
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/basic.js"></script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- wrap -->
		<div id="wrap">
			<!--
			 class="snbright-style"
			 class="center-style"
			 class="side-hidden"
			-->

			<!-- header -->
			<div id="header">
				<div class="back">
					<h1><img src="../images/logo.png" alt="logo"></h1>
					<div class="hdata">
						<ul class="gnb">
							<li><a href="notice_list.html">컨텐츠 관리</a></li>
							<li><a href="carmanager_list.html">카매니저 관리</a></li>
							<li><a href="contract_manage_list.html">계약 관리</a></li>
							<li><a onclick="alert('퍼블리싱 현행화 필요');return false;">차량 관리</a></li>
							<li class="on"><a href="help_list.html">유지보수</a></li>
							<li><a href="car_list.html">프로모션 관리</a></li>
							<li><a href="manager_list.html">관리자 관리</a></li>
							<!-- <li><a href="request_list.html">GMK 요청사항</a></li> -->
							<li><a href="report_monthly_list.html">보고서 관리</a></li>
							<li><a href="infra_server_list.html">인프라 관리</a></li><!-- 2020-06-08 -->
							<li><a href="account_list.html">개인정보 보호</a></li><!-- 2020-07-09 -->
						</ul>
						<div class="right pd10">
							<span class="btnSet onlytxt"><input type="button" value="basic style" class="lsbasic" /></span>
							<span class="btnSet onlytxt"><input type="button" value="right style" class="lsright" /></span>
							<span class="btnSet onlytxt"><input type="button" value="center style" class="lscenter" /></span>
						</div>
					</div>
				</div>
			</div>
			<!-- //header -->

			<hr/>
			<!-- container -->
			<div id="container">
				<div class="back">
					<!-- snb -->
					<div class="snb">
						<strong>MENU</strong>
						<ul>
							<li><span><a href="help_list.html">Help Desk</a></span></li>
							<li><span><a href="workhisory_list.html">작업현황</a></span></li>
						</ul>
						<strong>USER INFORMATION</strong>
						<ul>
							<li class="notlink user-date">3:00 PM | 12 May 2015</li>
							<li class="user-push"><span><a href="#none">Push Messege</a></span></li>
							<li class="user-setting"><span><a href="#none">Setting</a></span></li>
							<li class="user-logout"><span><a href="#">Logout</a></span></li>
						</ul>
					</div>
					<!---->

					<hr/>
					<div class="com-layout">
						<h2>
							<span><a href="main.html">유지보수</a></span>
							<span>작업현황</span>
							<input type="button" value="<" class="side-button" />
						</h2>
						<!-- contents -->
						<div class="contents">
							<div class="helpView">
								<!---->
								<div class="left">
									<!---->
									<div class="tab3">
										<span class="on"><input type="button" value="신규등록" data-name="tabCon1"></span>
										<span><input type="button" value="20170407-002" data-name="tabCon2"></span>
									</div>
									<!---->
									<div class="mt10">
										<div class="tabCon tabCon1">
											<div class="databox-line">
												<table cellpadding="0" cellspacing="0" border="0" class="tbvs1">
													<colgroup>
														<col width="80" />
														<col />
														<col width="80" />
														<col />
														<col width="80" />
														<col />
													</colgroup>
													 <tbody>
							                            <tr>
							                                <th>작업번호</th>
							                                <td colspan="5"><input name="jobNumber" type="text" readonly style="border:none; background:#fff;"/></td>
							                            </tr>
							                            <tr>
							                                <th><span style="color: red;">*&nbsp;</span>접수일자</th>
							                                <td>
							                                    <input name="startDate" type="text" class="w100 cal startSelDate" /> <br />
							                                    <select>
							                                        <option value="00">00시
							                                        <option value="01">01시
							                                        <option value="02">02시
							                                        <option value="03">03시
							                                        <option value="04">04시
							                                        <option value="05">05시
							                                        <option value="06">06시
							                                        <option value="07">07시
							                                        <option value="08">08시
							                                        <option value="09">09시
							                                        <option value="10">10시
							                                        <option value="11">11시
							                                        <option value="12">12시
							                                        <option value="13">13시
							                                        <option value="14">14시
							                                        <option value="15">15시
							                                        <option value="16">16시
							                                        <option value="17">17시
							                                        <option value="18">18시
							                                        <option value="19">19시
							                                        <option value="20">20시
							                                        <option value="21">21시
							                                        <option value="22">22시
							                                        <option value="23">23시
							                                        </select>
							                                    <select>
							                                        <option value="00">00분
							                                        <option value="01">01분
							                                        <option value="02">02분
							                                        <option value="03">03분
							                                        <option value="04">04분
							                                        <option value="05">05분
							                                        <option value="06">06분
							                                        <option value="07">07분
							                                        <option value="08">08분
							                                        <option value="09">09분
							                                        <option value="10">10분
							                                        <option value="11">11분
							                                        <option value="12">12분
							                                        <option value="13">13분
							                                        <option value="14">14분
							                                        <option value="15">15분
							                                        <option value="16">16분
							                                        <option value="17">17분
							                                        <option value="18">18분
							                                        <option value="19">19분
							                                        <option value="20">20분
							                                        <option value="21">21분
							                                        <option value="22">22분
							                                        <option value="23">23분
							                                        <option value="24">24분
							                                        <option value="25">25분
							                                        <option value="26">26분
							                                        <option value="27">27분
							                                        <option value="28">28분
							                                        <option value="29">29분
							                                        <option value="30">30분
							                                        <option value="31">31분
							                                        <option value="32">32분
							                                        <option value="33">33분
							                                        <option value="34">34분
							                                        <option value="35">35분
							                                        <option value="36">36분
							                                        <option value="37">37분
							                                        <option value="38">38분
							                                        <option value="39">39분
							                                        <option value="40">40분
							                                        <option value="41">41분
							                                        <option value="42">42분
							                                        <option value="43">43분
							                                        <option value="44">44분
							                                        <option value="45">45분
							                                        <option value="46">46분
							                                        <option value="47">47분
							                                        <option value="48">48분
							                                        <option value="49">49분
							                                        <option value="50">50분
							                                        <option value="51">51분
							                                        <option value="52">52분
							                                        <option value="53">53분
							                                        <option value="54">54분
							                                        <option value="55">55분
							                                        <option value="56">56분
							                                        <option value="57">57분
							                                        <option value="58">58분
							                                        <option value="59">59분
							                                        </select>
							                                </td>
							                                <th>완료일자</th>
							                                <td>
							                                    <input name="finishDate" type="text" class="w100 cal endSelDate" /> <br />
							                                    <select>
							                                        <option value="00">00시
							                                        <option value="01">01시
							                                        <option value="02">02시
							                                        <option value="03">03시
							                                        <option value="04">04시
							                                        <option value="05">05시
							                                        <option value="06">06시
							                                        <option value="07">07시
							                                        <option value="08">08시
							                                        <option value="09">09시
							                                        <option value="10">10시
							                                        <option value="11">11시
							                                        <option value="12">12시
							                                        <option value="13">13시
							                                        <option value="14">14시
							                                        <option value="15">15시
							                                        <option value="16">16시
							                                        <option value="17">17시
							                                        <option value="18">18시
							                                        <option value="19">19시
							                                        <option value="20">20시
							                                        <option value="21">21시
							                                        <option value="22">22시
							                                        <option value="23">23시
							                                        </select>
							                                    <select>
							                                        <option value="00">00분
							                                        <option value="01">01분
							                                        <option value="02">02분
							                                        <option value="03">03분
							                                        <option value="04">04분
							                                        <option value="05">05분
							                                        <option value="06">06분
							                                        <option value="07">07분
							                                        <option value="08">08분
							                                        <option value="09">09분
							                                        <option value="10">10분
							                                        <option value="11">11분
							                                        <option value="12">12분
							                                        <option value="13">13분
							                                        <option value="14">14분
							                                        <option value="15">15분
							                                        <option value="16">16분
							                                        <option value="17">17분
							                                        <option value="18">18분
							                                        <option value="19">19분
							                                        <option value="20">20분
							                                        <option value="21">21분
							                                        <option value="22">22분
							                                        <option value="23">23분
							                                        <option value="24">24분
							                                        <option value="25">25분
							                                        <option value="26">26분
							                                        <option value="27">27분
							                                        <option value="28">28분
							                                        <option value="29">29분
							                                        <option value="30">30분
							                                        <option value="31">31분
							                                        <option value="32">32분
							                                        <option value="33">33분
							                                        <option value="34">34분
							                                        <option value="35">35분
							                                        <option value="36">36분
							                                        <option value="37">37분
							                                        <option value="38">38분
							                                        <option value="39">39분
							                                        <option value="40">40분
							                                        <option value="41">41분
							                                        <option value="42">42분
							                                        <option value="43">43분
							                                        <option value="44">44분
							                                        <option value="45">45분
							                                        <option value="46">46분
							                                        <option value="47">47분
							                                        <option value="48">48분
							                                        <option value="49">49분
							                                        <option value="50">50분
							                                        <option value="51">51분
							                                        <option value="52">52분
							                                        <option value="53">53분
							                                        <option value="54">54분
							                                        <option value="55">55분
							                                        <option value="56">56분
							                                        <option value="57">57분
							                                        <option value="58">58분
							                                        <option value="59">59분
							                                        </select>
							                                </td>
							                                <th>상 태</th>
							                                <td>
							                                    <select name="jobStatus" class="wFull">
							                                        <option value="A">접수 완료</option>
							                                        <option value="I">문의 확인 중</option>
							                                        <option value="C">처리완료</option>
							                                        </select>
							                                </td>
							                            </tr>
							                            <tr>
							                                <th>요청부서</th>
							                                <td>
							                                    <select id="requestor" name="requestor" class="wFull">
							                                        <option>카매니저</option>
							                                        <option>GM</option>
							                                        <option>위즈빌</option>
							                                    </select>
							                                </td>
							                                <th>접수방법</th>
							                                <td>
							                                    <select name="contact" class="wFull" onchange="conNumMaxLeng(this)">
							                                        <option value="P">전화</option>
							                                        <option value="E">이메일</option>
							                                        </select>
							                                </td>
							                                <th>기 기</th>
							                                <td>
							                                    <select name="deviceType" class="wFull">
							                                       <option value="ALL">공통</option>
							                                        <option value="AND">Android</option>
							                                        <option value="IOS">IOS</option>
							                                        </select>
							                                </td>
							                            </tr>
							                            <tr>
							                                <th>작업구분</th>
							                                <td>
							                                   <select name="jobDivision" class="wFull">
							                                        <option value="HTU">사용법 문의</option>
							                                        <option value="ECM">계약서 수정</option>
							                                        <option value="ECW">계약서 작성</option>
							                                        <option value="CT">증빙서류</option>
							                                        <option value="HP">하이패스</option>
							                                        <option value="SC">판매조건</option>
							                                        <option value="CD">카탈로그</option>
							                                        <option value="GB">가이드북</option>
							                                        <option value="PT">포인트북</option>
							                                        <option value="EQ">견적서</option>
							                                        <option value="GD">가이드</option>
							                                        <option value="EV">이벤트</option>
							                                        <option value="SP">선포인트 신청</option>
							                                        <option value="AC">전차종 가격</option>
							                                        <option value="ETC">기타</option>
							                                    </select>
							                                </td>
							                                <th><span style="color: red;">*&nbsp;</span>요청자</th>
							                                <td id="requestBox"><input name="conNm" type="text" onkeydown="conNmSearCh(this)" maxlength="6" tabindex="1"/></td>
							                                <th><span style="color: red;">*&nbsp;</span>연락처</th>
							                                <td><input id="conNum" name="conNum" type="text" class="wFull" onblur="phoneNumBlur(this)" onkeydown="conNmSearCh(this)" onkeyup="phoneNumKeyup(this)" tabindex="2"/></td>
							                            </tr>

							                            <tr>
							                                <th><span style="color: red;">*&nbsp;</span>제 목</th>
							                                <td colspan="5"><input name="title" type="text" class="wFull" maxlength="110" tabindex="3"/></td>
							                            </tr>
							                            <tr>
							                                <th><span style="color: red;">*&nbsp;</span>접수내용</th>
							                                <td colspan="5"><textarea name="content" class="wFull h150" tabindex="4"></textarea></td>
							                            </tr>
							                            <tr>
							                                <th>경로</th>
							                                <td>
							                                    <select name="workRoute" class="wFull" >
							                                        <option value="A">Help Desk</option>
							                                        <option value="B">Think Tree</option>
							                                        <option value="C">영업</option>
							                                        <option value="D">운영팀</option>
							                                        <option value="E">기타</option>
							                                        </select>
							                                </td>
							                                <td colspan="4"></td>
							                            </tr>
							                        </tbody>
												</table>
											</div>
											<!---->
											<div class="databox-line mt10">
												<table cellpadding="0" cellspacing="0" border="0" class="tbvs1 bgYellowCase">
													<colgroup>
														<col width="80" />
														<col />
														<col width="80" />
														<col />
														<col width="80" />
														<col />
													</colgroup>
													<tbody>
														<tr>
															<th>업무 상태</th>
															<td>
																<select>
																	<option>대기 중</option>
																	<option>작업 중</option>
																	<option>작업 완료</option>
																	<option>작업 보류</option>
																</select>
															</td>
															<th>작업자</th>
															<td><input type="text" class="wFull" /></td>
															<th>팀장</th>
															<td>서재영</td>
														</tr>
														<tr>
															<th>작업예정기간</th>
															<td>
																<input type="text" class="cal" />
																<select>
																	<option>00시</option>
																	<option>01시</option>
																	<option>02시</option>
																</select>
																~
																<input type="text" class="cal" />
																<select>
																	<option>00시</option>
																	<option>01시</option>
																	<option>02시</option>
																</select>
															</td>
															<th>작업완료</th>
															<td>
																<input type="text" class="cal" />
																<select>
																	<option>00시</option>
																	<option>01시</option>
																	<option>02시</option>
																</select>
															</td>
															<th>Help Desk 전달</th>
															<td>
																2017-04-07 00:00:00
															</td>
														</tr>
														<tr>
															<th>팀장<br/>작업지시</th>
															<td colspan="5"><textarea class="wFull h150"></textarea></td>
														</tr>
														<tr>
															<th>작업자<br/>처리결과</th>
															<td colspan="5"><textarea class="wFull h150"></textarea></td>
														</tr>
														<tr>
															<th>최종작업보고<br/>(Help Desk)</th>
															<td colspan="5"><textarea class="wFull h150"></textarea></td>
														</tr>
													</tbody>
												</table>
											</div>
											<!---->
											<div class="btnLayout">
												<div class="right">
													<span class="btnSet list"><a href="help_list.html">전체목록</a></span>
													<span class="btnSet save"><input type="button" value="저장"></span>
												</div>
											</div>
										</div>
										<div class="tabCon tabCon2">
											<div class="databox-line">
												<table cellpadding="0" cellspacing="0" border="0" class="tbvs1">
													<colgroup>
														<col width="80" />
														<col />
														<col width="80" />
														<col />
														<col width="80" />
														<col />
													</colgroup>
													<tbody>
														<tr>
															<th>작업번호</th>
															<td colspan="5">20170407-002</td>
														</tr>
														<tr>
															<th>접수일자</th>
															<td>
																<input type="text" class="cal" />
																<select>
																	<option>00시</option>
																	<option>01시</option>
																	<option>02시</option>
																</select>
															</td>
															<th>완료일자</th>
															<td>
																<input type="text" class="cal" />
																<select>
																	<option>00시</option>
																	<option>01시</option>
																	<option>02시</option>
																</select>
															</td>
															<th>상 태</th>
															<td>
																<select class="wFull">
																	<option value="I">접수완료</option>
																	<option value="C">문의 확인 중</option>
																	<option value="F">처리완료</option>
																</select>
															</td>
														</tr>
														<tr>
															<th>요청부서</th>
															<td>
																<select class="wFull">
																	<option value="카매니저">카매니저</option>
																	<option value="GM">GM</option>
																	<option value="위즈빌">위즈빌</option>
																</select>
															</td>
															<th>접수방법</th>
															<td>
																<select class="wFull">
																	<option>전화</option>
																	<option>이메일</option>
																</select>
															</td>
															<th>기 기</th>
															<td>
																<select class="wFull">
																	<option value="Android">Android</option>
																	<option value="ios">IOS</option>
																	<option value="공통">공통</option>
																</select>
															</td>
														</tr>
														<tr>
															<th>작업구분</th>
															<td>
																<select class="wFull">
																		<option>계약서 수정</option>
																		<option>계약서 작성</option>
																		<option>증빙서류</option>
																		<option>하이패스</option>
																		<option>판매조건</option>
																		<option>카탈로그</option>
																		<option>가이드북</option>
																		<option>포인트북</option>
																		<option>견적서</option>
																		<option>가이드</option>
																		<option>이벤트</option>
																		<option>선포인트 신청</option>
																		<option>전차종 가격</option>
																		<option>기타</option>
																</select>
															</td>
															<th>요청자</th>
															<td><input type="text" /></td>
															<th>연락처</th>
															<td><input type="text" class="wFull" /></td>
														</tr>
														<tr>
															<th>제 목</th>
															<td colspan="5"><input type="text" class="wFull" /></td>
														</tr>
														<tr>
															<th>접수내용</th>
															<td colspan="5"><textarea class="wFull h150"></textarea></td>
														</tr>
														<tr>
															<th>경로</th>
															<td>
																<select class="wFull">
																	<option>Help Desk</option>
																	<option>영업</option>
																	<option>운영팀</option>
																	<option>기타</option>
																</select>
															</td>
															<td colspan="4"></td>
														</tr>
													</tbody>
												</table>
											</div>
											<!---->
											<div class="databox-line mt10">
												<table cellpadding="0" cellspacing="0" border="0" class="tbvs1 bgYellowCase">
													<colgroup>
														<col width="80" />
														<col />
														<col width="80" />
														<col />
														<col width="80" />
														<col />
													</colgroup>
													<tbody>
														<tr>
															<th>업무 상태</th>
															<td>
																<select>
																	<option>대기 중</option>
																	<option>작업 중</option>
																	<option>작업 완료</option>
																	<option>작업 보류</option>
																</select>
															</td>
															<th>작업자</th>
															<td><input type="text" class="wFull" /></td>
															<th>팀장</th>
															<td>서재영</td>
														</tr>
														<tr>
															<th>작업예정기간</th>
															<td>
																<input type="text" class="cal" />
																<select>
																	<option>00시</option>
																	<option>01시</option>
																	<option>02시</option>
																</select>
																~
																<input type="text" class="cal" />
																<select>
																	<option>00시</option>
																	<option>01시</option>
																	<option>02시</option>
																</select>
															</td>
															<th>작업완료</th>
															<td>
																<input type="text" class="cal" />
																<select>
																	<option>00시</option>
																	<option>01시</option>
																	<option>02시</option>
																</select>
															</td>
															<th>Help Desk 전달</th>
															<td>
																2017-04-07 00:00:00
															</td>
														</tr>
														<tr>
															<th>팀장<br/>작업지시</th>
															<td colspan="5"><textarea class="wFull h150"></textarea></td>
														</tr>
														<tr>
															<th>작업자<br/>처리결과</th>
															<td colspan="5"><textarea class="wFull h150"></textarea></td>
														</tr>
														<tr>
															<th>최종작업보고<br/>(Help Desk)</th>
															<td colspan="5"><textarea class="wFull h150"></textarea></td>
														</tr>
													</tbody>
												</table>
											</div>
											<!---->
											<div class="btnLayout">
												<div class="right">
													<span class="btnSet list"><a href="help_list.html">전체목록</a></span>
													<span class="btnSet save"><input type="button" value="저장"></span>
													<span class="btnSet add"><input type="button" value="신규등록"></span>
												</div>
											</div>
										</div>
									</div>
									<!---->
								</div>
								<!---->
								<div class="right">
									<div class="headBox">
										<span class="list-search ">
											<input type="text" placeholder="이름, 전화번호, 제목 검색"/><input type="submit" class="search-icon" value="search" />
										</span>
									</div>
										 <em>* 요청자,연락처 입력칸에서 Ctrl + Q 입력시 자동으로 입력됩니다.</em>
									<!---->
									<div class="databox-line mt10">
										<table cellpadding="0" cellspacing="0" border="0" class="tbls1">
											<colgroup>
												<col width="40" />
												<col />
												<col width="90" />
												<col width="80" />
											</colgroup>
											<thead>
												<tr>
													<th>번호</th>
													<th>제목</th>
													<th>접수일자 <input type="button" value="up" class="sort sup" /></th>
													<th>상태 <input type="button" value="up" class="sort sup" /></th>
												</tr>
											</thead>
											<tbody>
												<!-- Loop -->
												<tr class="on">
													<td>10</td>
													<td class="subject"><a href="help_view.html">이벤트 개인정보 활용 동의서 수정</a></td>
													<td>2015-03-16</td>
													<td>문의 확인 중</td>
												</tr>
												<!-- //Loop -->
												<tr>
													<td>10</td>
													<td class="subject"><a href="help_view.html">이벤트 개인정보 활용 동의서 수정</a></td>
													<td>2015-03-16</td>
													<td>처리완료</td>
												</tr>
												<tr>
													<td>10</td>
													<td class="subject"><a href="help_view.html">이벤트 개인정보 활용 동의서 수정</a></td>
													<td>2015-03-16</td>
													<td>처리완료</td>
												</tr>
												<tr>
													<td>10</td>
													<td class="subject"><a href="help_view.html">이벤트 개인정보 활용 동의서 수정</a></td>
													<td>2015-03-16</td>
													<td>처리완료</td>
												</tr>
												<tr>
													<td>10</td>
													<td class="subject"><a href="help_view.html">이벤트 개인정보 활용 동의서 수정</a></td>
													<td>2015-03-16</td>
													<td>처리완료</td>
												</tr>
												<tr>
													<td>10</td>
													<td class="subject"><a href="help_view.html">이벤트 개인정보 활용 동의서 수정</a></td>
													<td>2015-03-16</td>
													<td>처리완료</td>
												</tr>
												<tr>
													<td>10</td>
													<td class="subject"><a href="help_view.html">이벤트 개인정보 활용 동의서 수정</a></td>
													<td>2015-03-16</td>
													<td>처리완료</td>
												</tr>
												<tr>
													<td>10</td>
													<td class="subject"><a href="help_view.html">이벤트 개인정보 활용 동의서 수정</a></td>
													<td>2015-03-16</td>
													<td>처리완료</td>
												</tr>
												<tr>
													<td>10</td>
													<td class="subject"><a href="help_view.html">이벤트 개인정보 활용 동의서 수정</a></td>
													<td>2015-03-16</td>
													<td>처리완료</td>
												</tr>
												<tr>
													<td>10</td>
													<td class="subject"><a href="help_view.html">이벤트 개인정보 활용 동의서 수정</a></td>
													<td>2015-03-16</td>
													<td>처리완료</td>
												</tr>
												<tr>
													<td>10</td>
													<td class="subject"><a href="help_view.html">이벤트 개인정보 활용 동의서 수정</a></td>
													<td>2015-03-16</td>
													<td>처리완료</td>
												</tr>
												<tr>
													<td>10</td>
													<td class="subject"><a href="help_view.html">이벤트 개인정보 활용 동의서 수정</a></td>
													<td>2015-03-16</td>
													<td>처리완료</td>
												</tr>
												<tr>
													<td>10</td>
													<td class="subject"><a href="help_view.html">이벤트 개인정보 활용 동의서 수정</a></td>
													<td>2015-03-16</td>
													<td>처리완료</td>
												</tr>
												<tr>
													<td>10</td>
													<td class="subject"><a href="help_view.html">이벤트 개인정보 활용 동의서 수정</a></td>
													<td>2015-03-16</td>
													<td>처리완료</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!---->
							</div>
						</div>
						<!-- //contents -->
					</div>
				</div>
			</div>
			<!-- //container -->

			<hr/>
			<!-- footer -->
			<div id="footer">
				<div class="back">
					<p>Copyright 2005. THINK TREE.All Rights Reserved.</p>
					<div>
						<span class="btnSet pagetop"><a>TOP</a></span>
					</div>
				</div>
			</div>
			<!-- //footer -->

		</div>
		<!-- //wrap -->
	</body>
</html>
