@charset "utf-8";

/* =================================================================================
* INFORMATION
* -----------------------------------------------------------------------
* @Author : kim, Si Eun (zoe.kim@think-tree.co.kr)
* @File Name: format.css
* @Version: 1.0
* @Create Date: 2020-06-23
* @Update Date: N/A
* @History: N/A
* ================================================================================= */


/* ====================== */
/* TT UI library */
/* ====================== */
/* ===== Webfont ===== */
/* end */
/* ===== Default ===== */
/* outline:0 none; 웹접근성 및 Tab 이동 시 삭제요망 */
hr {display:none;}
dl,ul,ol,menu,li {list-style:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,label,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0;}
body, * {font-family:'돋움';font-size:14px;color:#000;-webkit-text-size-adjust:none; -moz-text-size-adjust:none; -ms-text-size-adjust:none;}
html, body {width:100%;height:100%;}
body {background-color:#fff;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:"";content:none;}
a {text-decoration:none;color:#555555;}
a img {border:none;}
img {vertical-align: top;}
address, caption, cite, code, dfn, em, th, var {font-style:normal;font-weight:normal;}
caption {display:none;}
.skip-navigation a {display:block;height:1px;width:1px;margin:0 -1px -1px 0;padding:0;overflow:hidden;font-size:0;line-height:0;}
.skip-navigation a:hover,.skip-navigation a:active,.skip-navigation a:focus {position:fixed;top:0;left:0;width:100%;height:auto;padding:8px 0 12px;font-weight:bold;font-size:14px;color:#fff;font-family:Tahoma;line-height:1;text-align:center;text-decoration:none;background:black;}
/* ===== Form ===== */
input[type="text"],
input[type="password"],
input[type="file"] {padding:0 5px;height:25px;line-height:16px;vertical-align:middle;border:1px solid #b2bbc3;font-size:12px;outline:0 none;}
input[type="text"]:focus,
input[type="password"]:focus,
select:focus {outline:0 none;}
input {outline:0 none;}
_:-moz-tree-row(hover), input[type="button"] {line-height:normal !important;padding-bottom:2px;}
input[type="checkbox"],
input[type="radio"] {width:16px;height:16px;vertical-align:middle;}
textarea {padding:5px;font-size:12px;line-height:16px;border:1px solid #b2bbc3;outline:0 none;resize:none;}
select {padding:0 0 0 5px;height:27px;vertical-align:middle;border:1px solid #b2bbc3;outline:0 none;height:auto;}
@supports (-webkit-appearance:none) {select {letter-spacing:-0.1em;}}
input[type="button"] {cursor:pointer;}
/* ===== Interval ===== */
/* align */
.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.tL {text-align:left !important;}
.tR {text-align:right !important;}
.tC {text-align:center !important;}
.tJustify {text-align:justify;}
.block {display:block !important;}
.inBlock {display:inline-block;}
.vTop {vertical-align:top !important;}
.vMiddle {vertical-align:middle !important;}
/* space */
.pd10 {padding:10px;}
.plr5 {padding:0 5px;}
.pt5 {padding-top:5px !important;}
.pl5 {padding-left:5px;}
.mt5 {margin-top:5px;}
.ml5 {margin-left:5px;}
.mr5 {margin-right:5px;}
.mb5 {margin-bottom:5px;}
/* width */
.wFull {width:100%;}
.wHalf {width:50%;}
.wAuto {width:auto;}
.w20 {width:20px;}
.w30 {width:30px;}
.w40 {width:40px;}
.w50 {width:40px;}
.w84 {width:84px;}
/* font */
.ft12 {font-size:12px !important;}
.ft15 {font-size:15px !important;}
.bold {font-weight:bold;}
/* ls */
.ls2 {letter-spacing:2px;}
/* ===== Components ===== */
/* ====================== */
/* Common Setting */
/* ====================== */
/* ====================== */
/* Main Setting */
/* ====================== */
/* ====================== */
/* Sub Setting */
/* ====================== */
.taxInvoiceLayout {padding:2px 0;width:684px;height:464px;}
.taxInvoiceLayout .topArea {padding:0 9px;}
.taxInvoiceLayout .topArea .taxNum {font-size:12px;letter-spacing:-0.9px;color:#0000fe;}
.taxInvoiceLayout .bottomArea {overflow:hidden;padding:3px 7px 0 9px;}
.taxInvoiceLayout .bottomArea span {font-size:11px;color:#0000fe;}
.taxInvoiceLayout .taxInvoice {margin:auto;width:674px;height:426px;border:2px solid #0000fe;box-sizing:border-box;}
.taxInvoiceLayout .taxInvoice table {width:100%;height:100%;table-layout:fixed;border-collapse:separate;border-spacing:0;}
.taxInvoiceLayout .taxInvoice tr th,
.taxInvoiceLayout .taxInvoice tr td {color:#0000fe;font-size:13px;text-align:center;border-left:1px solid #100f8f;border-right:#100f8f;border-top:1px solid #0000fe;border-bottom:#0000fe;}
.taxInvoiceLayout .taxInvoice tr th.thTit {font-size:15px;}
.taxInvoiceLayout .taxInvoice tr td {padding:0 2px;}
.taxInvoiceLayout .taxInvoice tr td strong {color:#0000fe;}
.taxInvoiceLayout .taxInvoice tr td .inBlock {font-size:13px;}
.taxInvoiceLayout .taxInvoice tr td .inBlock.big {font-size:14px;font-weight:900;}
.taxInvoiceLayout .taxInvoice tr td.tL {padding-left:17px;}
.taxInvoiceLayout .taxInvoice tr td.tR {padding-right:6px;}
.taxInvoiceLayout .taxInvoice h1 {display:block;height:50px;color:#0000fe;font-size:32px;font-weight:900;letter-spacing:6.6px;line-height:1.63;}
.taxInvoiceLayout .taxInvoice h1 .subInfo {position:relative;float:right;width:140px;height:50px;line-height:1.78;box-sizing:border-box;color:#0000fe;text-align:center;padding:0 15px;font-weight:bold;}
.taxInvoiceLayout .taxInvoice h1 .subInfo:before {content:'(';color:#0000fe;position:absolute;left:0;top:50%;margin-top:-13px;height:25px;}
.taxInvoiceLayout .taxInvoice h1 .subInfo:after {content:')';color:#0000fe;position:absolute;right:0;top:50%;margin-top:-13px;height:25px;}
.taxInvoiceLayout .taxInvoice table tr:nth-child(1),
.taxInvoiceLayout .taxInvoice table tr:nth-child(2) {height:25px;}
.taxInvoiceLayout .taxInvoice table tr:nth-child(3),
.taxInvoiceLayout .taxInvoice table tr:nth-child(4),
.taxInvoiceLayout .taxInvoice table tr:nth-child(5),
.taxInvoiceLayout .taxInvoice table tr:nth-child(6) {height:36px;}
.taxInvoiceLayout .taxInvoice table tr:nth-child(7),
.taxInvoiceLayout .taxInvoice table tr:nth-child(8) {height:18px;}
.taxInvoiceLayout .taxInvoice table tr:nth-child(9) {height:26px;}
.taxInvoiceLayout .taxInvoice table tr:nth-child(10) {height:18px;}
.taxInvoiceLayout .taxInvoice table tr:nth-child(11),
.taxInvoiceLayout .taxInvoice table tr:nth-child(12),
.taxInvoiceLayout .taxInvoice table tr:nth-child(13),
.taxInvoiceLayout .taxInvoice table tr:nth-child(14) {height:26px;}
.taxInvoiceLayout .taxInvoice table tr:nth-child(15) {height:18px;}

.taxInvoiceLayout.red .topArea .taxNum {color:#fe0000;}
.taxInvoiceLayout.red .bottomArea span {color:#fe0000;}
.taxInvoiceLayout.red .taxInvoice {border:2px solid #fe0000;}
.taxInvoiceLayout.red .taxInvoice tr th,
.taxInvoiceLayout.red .taxInvoice tr td {color:#fe0000;border-left:1px solid #a62625;border-right:#a62625;border-top:1px solid #fe0000;border-bottom:#fe0000;}
.taxInvoiceLayout.red .taxInvoice h1,
.taxInvoiceLayout.red .taxInvoice h1 .subInfo,
.taxInvoiceLayout.red .taxInvoice h1 .subInfo:before,
.taxInvoiceLayout.red .taxInvoice h1 .subInfo:after,
.taxInvoiceLayout.red .taxInvoice tr td strong {color:#fe0000;}
