<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>계정관리대장</title>
		<link rel="stylesheet" type="text/css" href="../css/format.css">
	</head>
	<body style="/*background: url('../images/bg/bg_account_management.png') no-repeat;*/background-size:1024px auto;">
		<div id="wrap" class="a4Size">
			<header>
				<div id="header">
					<div class="row2Case">
						<dl>
							<dt>문서명</dt>
							<dd>통제관리</dd>
							<dt>작성(변경)일자</dt>
							<dd class="tC">2018-01-02</dd>
						</dl>
						<dl>
							<dt>유효기간</dt>
							<dd>2018.01.01 ~ 2018.12.31</dd>
							<dt>승인일자</dt>
							<dd class="tC ftRed">2018-01-02</dd>
						</dl>
					</div>
					<span><strong>대외비</strong></span>
				</div>
			</header>
			<section>
				<div id="container" class="accountManagement">
					<div class="titBack">
						<div class="tit">
							<h1>계정관리대장<span class="subTit">(WEB서버#1)</span></h1>
						</div>
					</div>
					<article>
						<div class="contents">
							<!------>
							<div>
								<!------>
								<div class="astaList">
									<ul>
										<li>대상 시스템: SWORK (WEB서버#1)</li>
										<li>아이피: 112.175.149.38</li>
										<li>비밀번호 규칙: <span class="ftRed">영문대, 영문소, 숫자, 특수문자 포함 16자리</span></li>
										<li>월 1회 변경 필. 변경 전 기존 비밀번호는 확인할 수 없도록 삭제 필.</li>
									</ul>
								</div>
								<table class="tbls1">
									<colgroup>
										<col width="45">
										<col width="132">
										<col width="104">
										<col width="232">
										<col width="84">
										<col width="85">
										<col width="75">
										<col width="75">
									</colgroup>
									<thead>
										<tr>
											<th>No.</th>
											<th>변경일</th>
											<th>변경계정</th>
											<th>변경 비밀번호</th>
											<th>담당자</th>
											<th>확인</th>
											<th>접근권한</th>
											<th>대표확인</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td rowspan="4">1월</td>
											<td>2019.01.31</td>
											<td>root</td>
											<td>Tt************!2</td>
											<td>안병찬</td>
											<td>
												<div class="sign"><span class="signImg"><img src="../images/img_sign_01.png" /></span></div>
											</td>
											<td>부여</td>
											<td><img src="../images/img_sign_01.png" alt="직인 예시"/></td>
										</tr>
										<tr>
											<td>2019.01.31</td>
											<td>swork</td>
											<td>Tt************!2</td>
											<td>안병찬</td>
											<td></td>
											<td>수정</td>
											<td></td>
										</tr>
										<tr>
											<td>2019.01.31</td>
											<td>spencer</td>
											<td>Tt************!2</td>
											<td>김재성</td>
											<td></td>
											<td>수정</td>
											<td></td>
										</tr>
										<tr>
											<td>2019.01.31</td>
											<td>dion</td>
											<td>Tt************!2</td>
											<td>고현우</td>
											<td></td>
											<td>수정</td>
											<td></td>
										</tr>
										<tr>
											<td rowspan="4">2월</td>
											<td>2019.02.28</td>
											<td>root</td>
											<td>Tt************!2</td>
											<td>안병찬</td>
											<td></td>
											<td>부여</td>
											<td></td>
										</tr>
										<tr>
											<td>2019.02.28</td>
											<td>swork</td>
											<td>Tt************!2</td>
											<td>안병찬</td>
											<td></td>
											<td>수정</td>
											<td></td>
										</tr>
										<tr>
											<td>2019.02.28</td>
											<td>spencer</td>
											<td>Tt************!2</td>
											<td>김재성</td>
											<td></td>
											<td>수정</td>
											<td></td>
										</tr>
										<tr>
											<td>2019.02.28</td>
											<td>dion</td>
											<td>Tt************!2</td>
											<td>고현우</td>
											<td></td>
											<td>수정</td>
											<td></td>
										</tr>
										<tr>
											<td rowspan="4">3월</td>
											<td>2019.03.31</td>
											<td>root</td>
											<td>Tt************!2</td>
											<td>안병찬</td>
											<td></td>
											<td>부여</td>
											<td></td>
										</tr>
										<tr>
											<td>2019.03.31</td>
											<td>swork</td>
											<td>Tt************!2</td>
											<td>안병찬</td>
											<td></td>
											<td>수정</td>
											<td></td>
										</tr>
										<tr>
											<td>2019.03.31</td>
											<td>spencer</td>
											<td>Tt************!2</td>
											<td>김재성</td>
											<td></td>
											<td>수정</td>
											<td></td>
										</tr>
										<tr>
											<td>2019.03.31</td>
											<td>dion</td>
											<td>Tt************!2</td>
											<td>고현우</td>
											<td></td>
											<td>말소</td>
											<td></td>
										</tr>
									</tbody>
								</table>
								<!------>
							</div>
							<!------>
						</div>
					</article>
				</div>
			</section>
			<footer>
				<div id="footer">
					<div>
						<address>Copyright since 2006 ThinkTree co,.Ltd. All right reserved</address>
						<p>㈜ 씽크트리의 사전 승인없이 본 내용의 전부 또는 일부에 대한 복사, 전재, 배포, 사용을 금한다.</p>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
