<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>개발 요청 이력</title>
		<link rel="stylesheet" type="text/css" href="../css/format.css">
	</head>
	<body>
		<div id="wrap" class="a4Size hCase"><!-- 서식 가로버전 일 경우 hCase 추가 -->
			<!-- 2020-07-16 header 영역 삭제 -->
			<section>
				<div id="container" class="developmentHistory">
					<article>
						<div class="contents">
							<!------>
							<div class="developmentHistory01">
								<h1>2020 S-WORK 개발 요청 이력_GMK</h1>
								<table class="tbls1">
									<colgroup>
										<col width="20"/>
										<col width="60"/>
										<col width="60"/>
										<col width="60"/>
										<col width="90"/>
										<col width="110"/>
										<col width="140"/>
										<col width="500"/>
										<col width="50"/>
										<col width="110"/>
										<col width="200"/>
										<col width="100"/>
									</colgroup>
									<thead>
										<tr>
											<th>NO.</th>
											<th>작성자</th>
											<th>요청부서</th>
											<th>요청자</th>
											<th>작업번호</th>
											<th>접수일자</th>
											<th>제목</th>
											<th>접수내용</th>
											<th>업무진행자</th>
											<th>완료일자</th>
											<th>처리완료결과</th>
											<th>업무피드백</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="tC">1</td>
											<td class="tC">오유진</td>
											<td class="tC">마케팅</td>
											<td class="tC">염민철</td>
											<td>201912-C0011</td>
											<td>2019-12-26 14:10</td>
											<td>영업교육 메뉴 링크 변경</td>
											<td>
												S-Work [영업교육] 메뉴의 진행 업체 변경(-> 멀티캠퍼스)으로 인해, 신규 페이지로 연동 필요
												<br/>
												- 임시 오픈 기간(2020-01-16)까지는 url은 신규 업체로 변경하되, SSO(자동로그인)는 안되어 있는 상태임. 하지만, S-Work 앱에서 접속했을 경우에만 접속 허용처리 해놓음
												- 정식 오픈일(2020-01-31)까지 카매니저 로그인 정보 파라미터로 전달. 정상 오픈 확인 완료
												- 이후 멀티캠퍼스에서 SSL 적용 url로 변경 예정이어서, 이 때 url 변경 지원 예정
											</td>
											<td class="tC">오유진</td>
											<td>2020-01-31 18:30</td>
											<td>
												<ul>
													<li>- 자동로그인 처리 이상 없음</li>
													<li>- ios, 안드로이드 테스트 결과 이상 없음</li>
												</ul>
											</td>
											<td></td>
										</tr>
										<tr>
											<td class="tC">2</td>
											<td class="tC">오유진</td>
											<td class="tC">마케팅</td>
											<td class="tC">염민철</td>
											<td>201912-C0012</td>
											<td>2019-12-30 16:23</td>
											<td>Traiblazer SOC 대응</td>
											<td>
												2020 1월 16일 트레일블레이저 SOC와 관련한 대응 방안
												- Phase 1
												  : 본부별 권한 분리 없이 일시에(10:30 시작) 진행하며, 이슈 발생 시 11:00부로 서버 다운하여 오후부터 1,2본부 분할 진행
												- Phase 2
												  : Phase 1의 이슈에 따른 오후 시간 분할 진행이며, DMS 배정도 익일로 연기되어 진행됨
											</td>
											<td class="tC">오유진 김재성 조혜란 이용민</td>
											<td>2020-01-16  18:00</td>
											<td>
												1월 16일 계약 정상 완료
												- Phase 1으로 진행하였으며, 서버 및 계약서 생성 이슈 없이 정상 완료됨
												- 시간별 계약건수
												  : 11시(108건), 12시(191건), 14시(296건), 16시(383건), 18시(417건)
											</td>
											<td></td>
										</tr>
										<tr>
											<td class="tC">3</td>
											<td class="tC">오유진</td>
											<td class="tC">마케팅</td>
											<td class="tC">염민철</td>
											<td>202001-C0001</td>
											<td>2020-01-01 0:00</td>
											<td>1월 정기물 업데이트</td>
											<td>
												전 차종 가격표 업데이트
												전 차종 카탈로그 업데이트
												* MY20 이쿼녹스 포함. 2020 개소세 원복 버전임
											</td>
											<td class="tC">김재성 오유진</td>
											<td>2020-01-01 0:30</td>
											<td>ios, 안드로이드 테스트 결과 이상 없음</td>
											<td></td>
										</tr>
										<tr>
											<td class="tC">4</td>
											<td class="tC">오유진</td>
											<td class="tC">마케팅</td>
											<td class="tC">염민철</td>
											<td>202001-C0002</td>
											<td>2020-01-02 9:30</td>
											<td>S-Work 신규 기기 대응 작업</td>
											<td>
												S-Work 신규기기(SM-T515N) 대응을 위한 기획&퍼블리싱&개발 작업
												- 기획: 수정 범위 산출 및 본사, 협력업체(위버) 커뮤니케이션
												- 퍼블리싱: 전 화면 및 서식 re-퍼블리싱
												- 개발: 수정한 퍼블리싱 적용 및 디바이스 테스트, 사이드 이펙트 체크
												* 모든 수정은 기존기기와 신규기기가 정상적으로 구동될 수 있게 함을 기본으로 함
											</td>
											<td class="tC">오유진 조명진 김재성 이용민</td>
											<td>2020-02-10 21:00</td>
											<td>
												1월 한 달 작업 예정
												2월 10일 19시 신규&기존 기기 최적화 S-Work 업데이트 예정
											</td>
											<td></td>
										</tr>
										<tr>
											<td class="tC">5</td>
											<td class="tC">오유진</td>
											<td class="tC">마케팅</td>
											<td class="tC">염민철</td>
											<td>202001-C0003</td>
											<td>2020-01-02 16:17</td>
											<td>트래버스 고객확인서 필수 첨부 해제</td>
											<td>
												개소세 원복에 따른 트래버스 - 고객확인서 첨부 필수화 해제
												- [증빙서류]에서 '고객확인서' 숨김 처리
											</td>
											<td class="tC">김재성</td>
											<td>2020-01-02 18:25</td>
											<td>ios, 안드로이드 테스트 결과 이상 없음</td>
											<td></td>
										</tr>
										<tr>
											<td class="tC">6</td>
											<td class="tC">오유진</td>
											<td class="tC">마케팅</td>
											<td class="tC">염민철</td>
											<td>202001-C0004</td>
											<td>2020-01-06 13:52</td>
											<td>임팔라 단종 - 차종 삭제</td>
											<td>
												S-work에서 임팔라 관련 메뉴 모두 삭제 요청
												- 가격표, 카탈로그 목록 상의 임팔라 차종 삭제 진행
												- 차종 데이터의 경우, GMK 본부에서 삭제 처리 후 CMS, S-Work 반영
											</td>
											<td class="tC">김재성</td>
											<td>2020-01-06 15:09</td>
											<td>ios, 안드로이드 테스트 결과 이상 없음</td>
											<td></td>
										</tr>
										<tr>
											<td class="tC">7</td>
											<td class="tC">오유진</td>
											<td class="tC">마케팅</td>
											<td class="tC">염민철</td>
											<td>202001-C0005</td>
											<td>2020-01-09 15:04</td>
											<td>1월 긴급 정기물 업데이트</td>
											<td>
												- 콜로라도 가격표, 카탈로그 업데이트
												- 트랙스 가격표, 카탈로그 업데이트
											</td>
											<td class="tC">김재성</td>
											<td>2020-01-13 10:00</td>
											<td>ios, 안드로이드 테스트 결과 이상 없음</td>
											<td></td>
										</tr>
										<tr>
											<td class="tC">8</td>
											<td class="tC">오유진</td>
											<td class="tC">ThinkTree</td>
											<td class="tC">오유진</td>
											<td>202001-C0006</td>
											<td>2020-01-14 11:59</td>
											<td>S-Work to DMS 계약서 전송 체크 및 검증 협조 요청</td>
											<td>
												S-Work to DMS 계약서 전송 체크를 위한
												- 1월 21일 11:00 미팅 진행
												  : 오류사항 체크를 위한 신규 Interface용 테이블 생성 (씽크트리)
												  : 해당 테이블에 계약서 오류 유형별로 데이터 넣어줌
												>> 오류 사항을 파악하여 장기적으로 전송 이슈에 대응
											</td>
											<td class="tC">김재성</td>
											<td>2020-02-03 10:00</td>
											<td>테이블 생성 완료. 차후 모니터링 지속 예정</td>
											<td></td>
										</tr>
										<tr>
											<td class="tC">9</td>
											<td class="tC">오유진</td>
											<td class="tC">마케팅</td>
											<td class="tC">염민철</td>
											<td>202001-C0007</td>
											<td>2020-01-16 10:10</td>
											<td>신차 - 트레일블레이저 정기물 업데이트</td>
											<td>
												신차 관련 업데이트
												- 트레일블레이저 썸네일 추가
												- 트레일블레이저 가격표, 카탈로그 업데이트
											</td>
											<td class="tC">김재성 이용민</td>
											<td>2020-01-16 10:20</td>
											<td>ios, 안드로이드 테스트 결과 이상 없음</td>
											<td></td>
										</tr>
										<tr>
											<td class="tC">10</td>
											<td class="tC">오유진</td>
											<td class="tC">GMK</td>
											<td class="tC">이홍석</td>
											<td>202001-C0008</td>
											<td>2020-01-17 16:33</td>
											<td>12월 미스터리 쇼퍼 개인정보 삭제 요청</td>
											<td>12월 미스터리 쇼퍼 개인정보 삭제 요청</td>
											<td class="tC">김재성</td>
											<td>2020-01-16 10:09</td>
											<td>12월 미스터리쇼퍼 삭제 완료</td>
											<td></td>
										</tr>
										<tr>
											<td class="tC">11</td>
											<td class="tC">오유진</td>
											<td class="tC">마케팅</td>
											<td class="tC">염민철</td>
											<td>202001-C0009</td>
											<td>2020-01-20 10:44</td>
											<td>트레일블레이저 - 가격표 관련</td>
											<td>
												트레일블레이저 - 긴급 가격표 Block & 재 업데이트
												- 11:00 가격표 메뉴에서 트레일블레이저 선택 시 '준비중입니다' 팝업 표출
												- 13:30 제일기획 신규 가격표 수급하여 업데이트
											</td>
											<td class="tC">김재성</td>
											<td>2020-01-20 13:30</td>
											<td>ios, 안드로이드 테스트 결과 이상 없음</td>
											<td></td>
										</tr>
										<tr>
											<td class="tC">12</td>
											<td class="tC">오유진</td>
											<td class="tC">IT</td>
											<td class="tC">이주영</td>
											<td>202001-C0010</td>
											<td>2020-01-20 17:02</td>
											<td>선포인트 - 삼성카드 카드번호 필드 관련 수정 및 응대</td>
											<td>
												선포인트 > 삼성카드에서 카드번호 수집과 관련된 내용
												- 선포인트 전송 후 Alert 문구 수정 ('카드사 FAX 전송 완료되었습니다')
												- 카드번호는 PCI compliance 대상이므로 관련 내용 확인 진행
												- 삼성카드에서 카드번호를 수집하는 이유 및 근거에 대한 파악 진행
												>> 대응 방안 월간미팅때 아젠다로 공유, 협의 예정
											</td>
											<td class="tC">오유진</td>
											<td>2020-01-30 11:55</td>
											<td>2월 월간미팅 시 방문 협의 진행 예정</td>
											<td></td>
										</tr>
										<tr>
											<td class="tC">13</td>
											<td class="tC">오유진</td>
											<td class="tC">IT</td>
											<td class="tC">장기선</td>
											<td>202001-C0011</td>
											<td>2020-01-22 13:21</td>
											<td>시스템간의 DB link 조사</td>
											<td>
												S-Work와 타 시스템간의 DB link 또는 interface 조사 및 자료 작성
												- S-Work는 위즈빌과의 배치를 통해 데이터 넣어줌. 해당 인터페이스 내용 반영하여 기술
											</td>
											<td class="tC">김재성</td>
											<td>2020-01-29 19:47</td>
											<td>자료 작성 및 공유 완료</td>
											<td></td>
										</tr>
										<tr>
											<td class="tC">14</td>
											<td class="tC">오유진</td>
											<td class="tC">마케팅</td>
											<td class="tC">염민철</td>
											<td>202001-C0012</td>
											<td>2020-01-22 14:44</td>
											<td>계약서 휴대폰번호 필드 유효성 처리 요청</td>
											<td>
												계약서 > 휴대폰번호 필드 유효성 처리 진행
												- 휴대폰번호의 형식대로 입력했을 때만 DMS로 전송될 수 있도록 처리
											</td>
											<td class="tC">김재성</td>
											<td>2020-02-06 10:00</td>
											<td>현재 개발 완료. 2월 6일(목) 업데이트 예정</td>
											<td></td>
										</tr>
										<tr>
											<td class="tC">15</td>
											<td class="tC">오유진</td>
											<td class="tC">마케팅</td>
											<td class="tC">염민철</td>
											<td>202002-C0001</td>
											<td>2020-02-01 0:00</td>
											<td>2월 정기물 업데이트</td>
											<td>
												2월 정기물 업데이트
												- 카탈로그 5종 (볼트EV, 콜로라도, 이쿼녹스, 트래버스, 트레일블레이저)
												- 가격표 3종 (콜로라도, 트래버스, 트레일블레이저)
											</td>
											<td class="tC">김재성 오유진</td>
											<td>2020-02-01 00:30</td>
											<td>ios, 안드로이드 테스트 결과 이상 없음</td>
											<td></td>
										</tr>
										<tr>
											<td class="tC">16</td>
											<td class="tC">오유진</td>
											<td class="tC">IT</td>
											<td class="tC">이주영</td>
											<td>202002-C0002</td>
											<td>2020-02-05 16:42</td>
											<td>S-Work 서버 및 운영 고도화 제안</td>
											<td>
												S-Work 서버 고도화 제안
												- 2020 GMK apps remediation 대비, 현 서버 취약성 개선 방안 요청
												  ㄴ 취약성 점검 진행 관련 내용, 서버 고도화를 위한 상용 소프트웨어 관련 내용, IPS 및 보안패치 관련 내용
												- Push 진행 및 개인정보취급자 로그 남기는 부분의 공수 도출
											</td>
											<td class="tC">안병찬 오유진 n3n cloud(3차 벤더)</td>
											<td>2020-02-12 20:53</td>
											<td>방안 수립 및 공유 완료</td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</div>
							<!------>
						</div>
					</article>
				</div>
			</section>
		</div>
	</body>
</html>
