<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>개발 요청 이력</title>
		<link rel="stylesheet" type="text/css" href="../css/format.css">
	</head>
	<body>
		<div id="wrap" class="a4Size hCase"><!-- 서식 가로버전 일 경우 hCase 추가 -->
			<section>
				<div id="container" class="developmentHistory">
					<article>
						<div class="contents">
							<!------>
							<!------>
						</div>
					</article>
				</div>
			</section>
			<footer>
				<div id="footer">
					<div>
						<address>Copyright since 2006 ThinkTree co,.Ltd. All right reserved</address>
						<p>㈜ 씽크트리의 사전 승인없이 본 내용의 전부 또는 일부에 대한 복사, 전재, 배포, 사용을 금한다.</p>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
