<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>GMK S-Work 주간 보고서</title>
		<link rel="stylesheet" type="text/css" href="../css/format.css">
	</head>
	<body style="/*background: url('../images/bg/bg_weeklyReport02.png') no-repeat center left;*/background-size:1448px auto;">
		<div id="wrap" class="a4Size hCase gmkWeeklyReport"><!-- 서식 가로버전 일 경우 hCase 추가 -->
			<section>
				<div id="container">
					<article>
						<div class="contents">
							<!------>
							<div class="weeklyReport02">
								<h2>CHEVROLET TASK LIST<span>_17W~18W</span></h2>
								<table class="tls">
									<!-- 2020-07-16 cal width 수정 -->
									<colgroup>
										<col width="400"/>
										<col width="80"/>
										<col width="400"/>
										<col width="80"/>
									</colgroup>
									<!-- //2020-07-16 cal width 수정 -->
									<thead>
										<tr class="whiteStyle">
											<th colspan="2">17W (2020.04.20~2020.04.24)</th>
											<th colspan="2">18W (2020.04.27~2020.04.29)</th>
										</tr>
										<tr class="blueStyle">
											<th colspan="2">DONE</th>
											<th colspan="2">TO DO</th>
										</tr>
										<tr>
											<th>Task</th>
											<th>Date</th>
											<th>Task</th>
											<th>Date</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<ul>
													<li>- 빠른문의, Push, FAQ 업데이트</li>
													<li>- 기능 업데이트 및 앱 업데이트</li>
													<li>- 매뉴얼 작성 및 공유</li>
												</ul>
											</td>
											<td class="tC">04.21</td>
											<td>
												<ul>
													<li>CPI data Encryption</li>
												</ul>
											</td>
											<td class="tC">~06.30<br/>(진행 일정 결정 필요)</td>
										</tr>
										<tr>
											<td>
												<ul>
													<li>트레일블레이저 카탈로그, 가격표 업데이트</li>
												</ul>
											</td>
											<td class="tC">04.22</td>
											<td></td>
											<td class="tC"></td>
										</tr>
										<tr>
											<td></td>
											<td class="tC"></td>
											<td></td>
											<td class="tC"></td>
										</tr>
										<tr>
											<td></td>
											<td class="tC"></td>
											<td></td>
											<td class="tC"></td>
										</tr>
									</tbody>
								</table>
								<span class="pageNum">GM Confidential | 2</span>
							</div>
							<!------>
						</div>
					</article>
				</div>
			</section>
		</div>
	</body>
</html>
