<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>GMK S-Work 월간 보고서</title>
		<link rel="stylesheet" type="text/css" href="../css/format.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	</head>
	<body style="/*background: url('../images/bg/bg_dailyReport_1.png') no-repeat;*/background-size:1024px auto;">
		<div id="wrap" class="a4Size gmkdailyReport">
			<header>
				<div id="header">
					<div>
						<dl>
							<dt>문서 명</dt>
							<dd>업무연속성정책</dd>
							<dt>최초 작성 일자</dt>
							<dd>2017-12-01</dd>
						</dl>
						<dl>
							<dt>유효기간</dt>
							<dd>2020.01.01 ~ 2020.12.31</dd>
							<dt>승인일자</dt>
							<dd>2020-01-01</dd>
						</dl>
					</div>
					<span><strong>대외비</strong></span>
				</div>
			</header>
			<section>
				<div id="container">
					<!--//-->
					<article>
						<div class="contents">
							<!------>
							<div class="dailyReport01">
								<!------>
								<div class="conTit">
									<div>[일일보고서]</div>
									<h1>S-Work Daily Check List</h1>
									<div class="confirmLine">
										<dl>
											<dt>상신자</dt>
											<dd><div class="sign"><span class="signImg"><img src="../images/img_sign_01.png" /></span></div></dd>
										</dl>
										<dl>
											<dt>담당자</dt>
											<dd><div class="sign"><span class="signImg"><img src="../images/img_sign_01.png" /></span></div></dd>
										</dl>
									</div>
								</div>
								<div class="line1">
									<table class="tbls1">
										<colgroup>
											<col width="179">
											<col width="277">
											<col width="147">
											<col width="255">
										</colgroup>
										<tbody>
											<tr class="impotr">
												<th>보고 일자</th>
												<td colspan="3">2020년 00월 00일</td>
											</tr>
											<tr class="impotr">
												<th>작성자</th>
												<td>㈜씽크트리 ㅇㅇㅇ</td>
												<th>수신자</th>
												<td>GMK S-Work Team</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="line2">
									<h2>1. 시스템 점검</h2>
									<table class="tbls1">
										<colgroup>
											<col width="143">
											<col width="135">
											<col width="270">
											<col width="147">
											<col width="162">
										</colgroup>
										<thead>
											<tr class="impotr">
												<th colspan="3">항목</th>
												<th>결과</th>
												<th>비고</th>
											</tr>
											<tr class="normoaltr">
												<th colspan="3" class="tL">저장공간 확인</th>
												<th>Used</th>
												<th>Used rate</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="first">File Server</td>
												<td colspan="2">Phantom JS 스크린샷</td>
												<td class="tR">0GB / 260GB</td>
												<td class="tR">%</td>
											</tr>
											<tr>
												<td class="first">File Server</td>
												<td colspan="2">계약서 PDF 파일</td>
												<td class="tR">0GB / 2TB</td>
												<td class="tR">%</td>
											</tr>
											<tr>
												<td class="first">Module Server</td>
												<td colspan="2">타임스탬프 PDF 파일</td>
												<td class="tR">0GB / GB</td>
												<td class="tR">%</td>
											</tr>
										</tbody>
										<thead>
											<tr class="normoaltr">
												<th colspan="3" class="tL">서버 상태 확인 (바이러스 점검)</th>
												<th>바이러스 건수</th>
												<th>점검일시</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="first">web server #1</td>
												<td>112.175.149.38</td>
												<td>/cont01 아래 대상</td>
												<td class="tR">0건</td>
												<td class="tR">YYYY-MM-DD 00:00</td>
											</tr>
											<tr>
												<td class="first">web server #2</td>
												<td>112.175.149.39</td>
												<td>/cont01 아래 대상</td>
												<td class="tR">0건</td>
												<td class="tR">YYYY-MM-DD 00:00</td>
											</tr>
											<tr>
												<td class="first">DB server</td>
												<td>112.175.149.41</td>
												<td>/root (/dev, /run, /sys, /home 제외)</td>
												<td class="tR">0건</td>
												<td class="tR">YYYY-MM-DD 00:00</td>
											</tr>
											<tr>
												<td class="first">File Server</td>
												<td>112.175.149.34</td>
												<td>/data/server 아래 대상</td>
												<td class="tR">0건</td>
												<td class="tR">YYYY-MM-DD 00:00</td>
											</tr>
											<tr>
												<td class="first">Module Server</td>
												<td>112.175.149.37</td>
												<td>/home/timestamp 아래 대상<br/>/home/kukudocs 아래 대상</td>
												<td class="tR">0건</td>
												<td class="tR">YYYY-MM-DD 00:00</td>
											</tr>
											<tr>
												<td class="first">Dev server</td>
												<td>112.175.149.45</td>
												<td>/cont01 아래 대상</td>
												<td class="tR">0건</td>
												<td class="tR">YYYY-MM-DD 00:00</td>
											</tr>
										</tbody>
										<thead>
											<tr class="normoaltr">
												<th colspan="3" class="tL">모듈 상태 확인 (모듈 서버)</th>
												<th>상태</th>
												<th>점검일시</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="3" class="first">Torpedo Bizframe TSA module</td>
												<td class="tR">정상</td>
												<td class="tR">YYYY-MM-DD 00:00</td>
											</tr>
											<tr>
												<td colspan="3" class="first">Kukudocs PDF viewer module</td>
												<td class="tR">정상</td>
												<td class="tR">YYYY-MM-DD 00:00</td>
											</tr>
										</tbody>
										<thead>
											<tr class="normoaltr">
												<th colspan="3" class="tL">웹 취약성 확인</th>
												<th>취약성 건수</th>
												<th>점검일시</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="3" class="first">High Vulnerabilities </td>
												<td class="tR">0건</td>
												<td class="tR">YYYY-MM-DD 00:00</td>
											</tr>
											<tr>
												<td colspan="3" class="first">Medium Vulnerabilities </td>
												<td class="tR">0건</td>
												<td class="tR">YYYY-MM-DD 00:00</td>
											</tr>
											<tr>
												<td colspan="3" class="first">Low Vulnerabilities </td>
												<td class="tR">0건</td>
												<td class="tR">YYYY-MM-DD 00:00</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!------>
							</div>
							<!------>
						</div>
					</article>
				</div>
			</section>
		</div>
	</body>
</html>
