<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>GMK S-Work 월간 보고서</title>
		<link rel="stylesheet" type="text/css" href="../css/format.css">
	</head>
	<body style="/*background: url('../images/bg/bg_monthlyReport_1.png') no-repeat;*/background-size:1024px auto;">
		<div id="wrap" class="a4Size gmkMonthlyReport">
			<div class="monthlyReport01">
				<span class="gmkLogo"><img src="../images/img_gmkLogo.png" alt="CHEVROLET"></span>
				<div class="coverTit">
					<h1>GMK <span class="ftYellow">S</span>-Work 월간 보고서</h1>
					<strong>S-Work Monthly Report 2019, June</strong>
				</div>
				<div class="bottomSet">
					<span>2019.07.01</span>
					<span>주식회사 씽크트리</span>
				</div>
			</div>
		</div>
	</body>
</html>
