<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>GMK S-Work 주간 보고서</title>
		<link rel="stylesheet" type="text/css" href="../css/format.css">
	</head>
	<body style="/*background: url('../images/bg/bg_weeklyReport04.png') no-repeat center left;*/background-size:1448px auto;">
		<div id="wrap" class="a4Size hCase gmkWeeklyReport"><!-- 서식 가로버전 일 경우 hCase 추가 -->
			<div class="weeklyReport04">
				<div class="tyBox">
					<strong>THANK YOU</strong>
				</div>
				<span class="pageNum">GM Confidential | 4</span>
			</div>
		</div>
	</body>
</html>
