<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>GMK S-Work 월간 보고서</title>
		<link rel="stylesheet" type="text/css" href="../css/format.css">
	</head>
	<body style="/*background: url('../images/bg/bg_monthlyReport_7.png') no-repeat;*/background-size:1024px auto;">
		<div id="wrap" class="a4Size gmkMonthlyReport">
			<header>
				<div id="header">
					<div>
						<dl>
							<dt>문서번호</dt>
							<dd>GM_M201906</dd>
							<dt>제목</dt>
							<dd>GMK S-Work 월간 보고서(6월)</dd>
						</dl>
						<dl>
							<dt>작성일</dt>
							<dd>2019.07.01</dd>
							<dt>작성자</dt>
							<dd>오유진</dd>
						</dl>
						<dl>
							<dt>제출일</dt>
							<dd>2019.07.01</dd>
							<dt>제출처</dt>
							<dd>GM Korea</dd>
						</dl>
					</div>
					<span><strong>대외비</strong></span>
				</div>
			</header>
			<section>
				<div id="container">
					<!--//-->
					<article>
						<div class="contents">
							<!------>
							<div class="monthlyReport07">
								<!------>
								<div class="conTit">
									<h2>Ⅶ. Timestamp</h2>
								</div>
								<div class="squareList">
									<ul>
										<li>4월 타임스탬프 건수
											<table class="tbls1">
												<colgroup>
													<col width="120"/>
													<col width="145"/>
													<col width="145"/>
													<col width="120"/>
													<col width="145"/>
													<col width="145"/>
												</colgroup>
												<thead>
													<tr>
														<th>날짜</th>
														<th>인도 건수</th>
														<th>타임스탬프 건수</th>
														<th>날짜</th>
														<th>인도 건수</th>
														<th>타임스탬프 건수</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>2020-04-01</td>
														<td></td>
														<td></td>
														<td>2020-04-18</td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td>2020-04-02</td>
														<td></td>
														<td></td>
														<td>2020-04-19</td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td>2020-04-03</td>
														<td></td>
														<td></td>
														<td>2020-04-20</td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td>2020-04-04</td>
														<td></td>
														<td></td>
														<td>2020-04-21</td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td>2020-04-05</td>
														<td></td>
														<td></td>
														<td>2020-04-22</td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td>2020-04-06</td>
														<td></td>
														<td></td>
														<td>2020-04-23</td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td>2020-04-10</td>
														<td></td>
														<td></td>
														<td>2020-04-24</td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td>2020-04-11</td>
														<td></td>
														<td></td>
														<td>2020-04-25</td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td>2020-04-12</td>
														<td></td>
														<td></td>
														<td>2020-04-26</td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td>2020-04-13</td>
														<td></td>
														<td></td>
														<td>2020-04-27</td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td>2020-04-14</td>
														<td></td>
														<td></td>
														<td>2020-04-28</td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td>2020-04-15</td>
														<td></td>
														<td></td>
														<td>2020-04-29</td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td>2020-04-16</td>
														<td></td>
														<td></td>
														<td>2020-04-30</td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td>2020-04-17</td>
														<td></td>
														<td></td>
														<td>-</td>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td colspan="4">합계</td>
														<td></td>
														<td></td>
													</tr>
												</tbody>
											</table>
										</li>
									</ul>
								</div>
								<!------>
							</div>
							<!------>
						</div>
					</article>
				</div>
			</section>
			<footer>
				<div id="footer">
					<div><span class="pageNum">8</span></div>
				</div>
			</footer>
		</div>
	</body>
</html>
