<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>GMK S-Work 주간 보고서</title>
		<link rel="stylesheet" type="text/css" href="../css/format.css">
	</head>
	<body style="/*background: url('../images/bg/bg_weeklyReport03.png') no-repeat center left;*/background-size:1448px auto;">
		<div id="wrap" class="a4Size hCase gmkWeeklyReport"><!-- 서식 가로버전 일 경우 hCase 추가 -->
			<section>
				<div id="container">
					<article>
						<div class="contents">
							<!------>
							<div class="weeklyReport03">
								<h2>TIMESTAMP LIST<span>_16W</span></h2>
								<table class="tls">
									<colgroup>
										<col width="80"/>
										<col width="100"/>
										<col width="100"/>
										<col width="100"/>
										<col width="100"/>
										<col width="100"/>
										<col width="100"/>
										<col width="100"/>
									</colgroup>
									<thead>
										<tr class="blueStyle">
											<th colspan="8">16W(2020.04.13~2020.04.19)</th>
										</tr>
										<tr>
											<th></th>
											<th>Mon</th>
											<th>Tue</th>
											<th>Wed</th>
											<th>Thu</th>
											<th>Fri</th>
											<th>Sat</th>
											<th>Sun</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>계약서 인도 건수</th>
											<td class="tC">236</td>
											<td class="tC">186</td>
											<td class="tC">48</td>
											<td class="tC">237</td>
											<td class="tC">217</td>
											<td class="tC">85</td>
											<td class="tC">19</td>
										</tr>
										<tr>
											<th>타임스탬프 건수</th>
											<td class="tC">225</td>
											<td class="tC">176</td>
											<td class="tC">46</td>
											<td class="tC">222</td>
											<td class="tC">209</td>
											<td class="tC">82</td>
											<td class="tC">18</td>
										</tr>
									</tbody>
								</table>
								<span class="pageNum">GM Confidential | 3</span>
							</div>
							<!------>
						</div>
					</article>
				</div>
			</section>
		</div>
	</body>
</html>
