<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>GMK S-Work 월간 보고서</title>
		<link rel="stylesheet" type="text/css" href="../css/format.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	</head>
	<body style="/*background: url('../images/bg/bg_dailyReport_2.png') no-repeat;*/background-size:1024px auto;">
		<div id="wrap" class="a4Size gmkdailyReport">
			<header>
				<div id="header">
					<div>
						<dl>
							<dt>문서 명</dt>
							<dd>업무연속성정책</dd>
							<dt>최초 작성 일자</dt>
							<dd>2017-12-01</dd>
						</dl>
						<dl>
							<dt>유효기간</dt>
							<dd>2020.01.01 ~ 2020.12.31</dd>
							<dt>승인일자</dt>
							<dd>2020-01-01</dd>
						</dl>
					</div>
					<span><strong>대외비</strong></span>
				</div>
			</header>
			<section>
				<div id="container">
					<!--//-->
					<article>
						<div class="contents">
							<!------>
							<div class="dailyReport02">
								<!------>
								<div class="line3">
									<h2>2. 계약서 현황/실적</h2>
									<table class="tbls1">
										<colgroup>
											<col width="153">
											<col width="125">
											<col width="153">
											<col width="125">
										</colgroup>
										<thead>
											<tr class="impotr">
												<th>항목</th>
												<th>건수 (전일 24:00)</th>
												<th>항목</th>
												<th>건수 (전일 24:00)</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="first">앱 다운로드 건수</td>
												<td class="tR">Android / 0건<br/>iOS / 0건 </td>
												<td class="first">계약서 전송 건수</td>
												<td class="tR">0건</td>
											</tr>
											<tr>
												<td class="first">계약서 인도 건수</td>
												<td class="tR">0건</td>
												<td class="first">타임스탬프 건수</td>
												<td class="tR">0건</td>
											</tr>
											<tr>
												<td class="first">빠른문의 건수 (대응/접수)</td>
												<td class="tR">0건 / 0건</td>
												<td class="first">헬프데스크 건수 (대응/접수)</td>
												<td class="tR">0건 / 0건</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!------>
								<div class="line4">
									<h2>3. 기타(진행 중 이슈)</h2>
									<div>
										<p>현재 업무 진행중인 이슈 사항에 대해 기입합니다. 해당 이슈 종료 시 삭제합니다.</p><!-- 데이터가 있을 경우엔 삭제-->
									</div>
								</div>
								<!------>
							</div>
							<!------>
						</div>
					</article>
				</div>
			</section>
		</div>
	</body>
</html>
