<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>GMK S-Work 월간 보고서</title>
		<link rel="stylesheet" type="text/css" href="../css/format.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.highcharts.com/highcharts.src.js"></script>
		<script type="text/javascript" src="https://code.highcharts.com/highcharts-3d.js"></script>
	</head>
	<body style="/*background: url('../images/bg/bg_monthlyReport_3.png') no-repeat;*/background-size:1024px auto;">
		<div id="wrap" class="a4Size gmkMonthlyReport">
			<header>
				<div id="header">
					<div>
						<dl>
							<dt>문서번호</dt>
							<dd>GM_M201906</dd>
							<dt>제목</dt>
							<dd>GMK S-Work 월간 보고서(6월)</dd>
						</dl>
						<dl>
							<dt>작성일</dt>
							<dd>2019.07.01</dd>
							<dt>작성자</dt>
							<dd>오유진</dd>
						</dl>
						<dl>
							<dt>제출일</dt>
							<dd>2019.07.01</dd>
							<dt>제출처</dt>
							<dd>GM Korea</dd>
						</dl>
					</div>
					<span><strong>대외비</strong></span>
				</div>
			</header>
			<section>
				<div id="container">
					<!--//-->
					<article>
						<div class="contents">
							<!------>
							<div class="monthlyReport03">
								<!------>
								<div class="conTit">
									<h2>Ⅱ. 전자계약서 작성 현황</h2>
									<strong>2019년 7월 1일 기준으로 2019년 6월 1일부터 6월 30일 까지 6월 전자계약서 작성 현황</strong>
								</div>
								<div class="squareList">
									<ul>
										<li>
											<dl>
												<dt>총 전자 계약서 전송 건수</dt>
												<dd>6,666건</dd>
											</dl>
										</li>
									</ul>
								</div>
								<div class="graphBox">
									<div class="graphImage" id="graphImage2">
										<script>
										Highcharts.chart('graphImage2', {
											chart: {
												backgroundColor: '#fff',
												height: 440
										    },
										    title: {
										        text: '2019 전자계약서 전송 건수',
												y: 25
										    },
										    xAxis: [{
										        categories: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
										        crosshair: true
										    }],
										    yAxis: {
												title: {
										            text: ''
										        },
										        labels: {
										            format: '{value}',
													style: {
														fontSize: '15px',
										                color: '#666'
										            }
										        }
										    },
											legend:{
												x: 35,
												itemStyle: {
													fontWeight: 'normal',
													fontSize: '15px'
										        }
											},
										    tooltip: {
										        shared: true
										    },
											series: [
												{
													dataLabels: {
														enabled: true,
														format: '{y}',
														style: {
															fontWeight: 'normal',
															fontSize: '15px',
											                color: '#666'
											            }
													},
													type: 'column',
													name: '전송건수',
													color: '#a6a6a6',
													data: [6836,6131,8557,8469,7458,6666,null,null,null,null,null,null]
												}, {
													type: 'line',
													name: '전송건수',
													color: '#ffc000',
													data: [6836,6131,8557,8469,7458,6666,null,null,null,null,null,null]
												}
											]
										});
										</script>
									</div>
								</div>
								<!------>
							</div>
							<!------>
						</div>
					</article>
				</div>
			</section>
			<footer>
				<div id="footer">
					<div><span class="pageNum">3</span></div>
				</div>
			</footer>
		</div>
	</body>
</html>
