<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>GMK S-Work 월간 보고서</title>
		<link rel="stylesheet" type="text/css" href="../css/format.css">
	</head>
	<body style="/*background: url('../images/bg/bg_monthlyReport_6.png') no-repeat;*/background-size:1024px auto;">
		<div id="wrap" class="a4Size gmkMonthlyReport">
			<header>
				<div id="header">
					<div>
						<dl>
							<dt>문서번호</dt>
							<dd>GM_M201906</dd>
							<dt>제목</dt>
							<dd>GMK S-Work 월간 보고서(6월)</dd>
						</dl>
						<dl>
							<dt>작성일</dt>
							<dd>2019.07.01</dd>
							<dt>작성자</dt>
							<dd>오유진</dd>
						</dl>
						<dl>
							<dt>제출일</dt>
							<dd>2019.07.01</dd>
							<dt>제출처</dt>
							<dd>GM Korea</dd>
						</dl>
					</div>
					<span><strong>대외비</strong></span>
				</div>
			</header>
			<section>
				<div id="container">
					<!--//-->
					<article>
						<div class="contents">
							<!------>
							<div class="monthlyReport06">
								<!------>
								<div class="conTit">
									<h2>Ⅵ. Monthly Issue</h2>
								</div>
								<div class="squareList">
									<ul>
										<li>6월 정기물 업데이트
											<ul>
												<li>가격표 2종, 카탈로그 2종 업데이트</li>
											</ul>
										</li>
										<li>S-Work 계약서 내 레몬법 반영_2차(자동차 교환환불 중재제도)
											<ul>
												<li>매수인 변경 시 레몬법 수정 필수화</li>
												<li>수정계약서 진입 시 레몬법 수정 가능화 (모든 변수 포함: 고객 변심 등)</li>
											</ul>
										</li>
										<li>신규 FAX 모듈 설치
											<ul>
												<li>기존 LG FAX 모듈의 낮은 사양 문제로 신규 업체 (다우기술) 모듈로 변경 진행</li>
												<li>신규 FAX 모듈 설치 후 계약서 분할 발송 하지 않아 업무 컨디션 향상</li>
											</ul>
										</li>
									</ul>
								</div>
								<!------>
							</div>
							<!------>
						</div>
					</article>
				</div>
			</section>
			<footer>
				<div id="footer">
					<div><span class="pageNum">7</span></div>
				</div>
			</footer>
		</div>
	</body>
</html>
