<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>sample2</title>
		<link rel="stylesheet" type="text/css" href="../css/format.css">
	</head>
	<body>
		<div id="wrap" class="a4Size hCase"><!-- 서식 가로버전 일 경우 hCase 추가 -->
			<header>
				<div id="header">
					<div>
						<dl>
							<dt>문서명</dt>
							<dd>개인정보보호정책</dd>
							<dt>작성(변경)일자</dt>
							<dd>2019-01-02</dd>
						</dl>
						<dl>
							<dt>유효기간</dt>
							<dd>2019.01.01 ~ 2019.12.31</dd>
							<dt>승인일자</dt>
							<dd>2019-01-02</dd>
						</dl>
					</div>
					<span><strong>대외비</strong></span>
				</div>
			</header>
			<section>
				<div id="container">
					<h1>개인정보의 수집· 이용에 대한 동의서</h1>
					<article>
						<div class="contents">
							<!------>
							<div class="pi001001">
								<!------>
								<table class="tbls1">
									<thead>
										<tr>
											<th rowspan="2">table th1</th>
											<th rowspan="2">table th2</th>
											<th>table th3</th>
											<th>table th3</th>
										</tr>
										<tr>
											<th>table th3</th>
											<th class="whth">table th3</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>table td1</td>
											<td>table td2</td>
											<td>table td3</td>
											<td>table td3</td>
										</tr>
										<tr>
											<th>table th1</th>
											<td>table td2</td>
											<td>table td3</td>
											<td>table td3</td>
										</tr>
										<tr>
											<th>table th1</th>
											<th class="subth">table td2</th>
											<td>table td3</td>
											<td>table td3</td>
										</tr>
										<tr>
											<td>table td1</td>
											<td>table td2</td>
											<td>table td3</td>
											<td>table td3</td>
										</tr>
										<tr>
											<th colspan="4" class="subth">table td1</th>
										</tr>
										<tr>
											<td>table td1</td>
											<td>table td2</td>
											<td>table td3</td>
											<td>table td3</td>
										</tr>
										<tr>
											<td>table td1</td>
											<td>table td2</td>
											<td>table td3</td>
											<td>table td3</td>
										</tr>
										<tr class="impotr">
											<th rowspan="3">table td1</th>
										</tr>
										<tr class="impotr">
											<th>table td1</th>
											<th>table td2</th>
											<th>table td3</th>
										</tr>
										<tr>
											<td>table td1</td>
											<td>table td2</td>
											<td>table td3</td>
										</tr>
									</tbody>
								</table>
								<br/><br/>
								<table class="tbls1 whCase">
									<thead>
										<tr>
											<th>table th1</th>
											<th>table th2</th>
											<th>table th3</th>
											<th>table th3</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>table td1</td>
											<td>table td2</td>
											<td>table td3</td>
											<td>table td3</td>
										</tr>
									</tbody>
								</table>
								<br/><br/>
								<table class="tbls1 lightCase">
									<thead>
										<tr>
											<th>table th1</th>
											<th>table th2</th>
											<th>table th3</th>
											<th>table th3</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>table td1</td>
											<td>table td2</td>
											<td>table td3</td>
											<td>table td3</td>
										</tr>
									</tbody>
								</table>
								<br/><br/>
								<table class="tbls2">
									<thead>
										<tr>
											<th rowspan="2">table th1</th>
											<th rowspan="2">table th2</th>
											<th>table th3</th>
											<th rowspan="2">table th3</th>
										</tr>
										<tr>
											<th>table th3</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>table td1</td>
											<td>table td2</td>
											<td>table td3</td>
											<td>table td3</td>
										</tr>
									</tbody>
								</table>
								<!------>
								<br/><br/>
								<span class="checkSet on"><i></i>동의</span>
								<span class="checkSet"><i></i>동의안함</span>
								<br/><br/>
								<span class="selectSet on">[<i></i>]</span>
								<span class="selectSet">[<i></i>]</span>
								<br/><br/>
								<!------>
							</div>
							<!------>
						</div>
					</article>
				</div>
			</section>
			<footer>
				<div id="footer">
					<div>
						<address>Copyright since 2006 ThinkTree co,.Ltd. All right reserved</address>
						<p>㈜ 씽크트리의 사전 승인없이 본 내용의 전부 또는 일부에 대한 복사, 전재, 배포, 사용을 금한다.</p>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
