/* ===== Loading ===== */
.pageLoading {position:fixed;z-index:30000;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,.2);}
@keyframes spinner {
	to {transform: rotate(360deg);}
}
@-webkit-keyframes spinner {
	to {-webkit-transform: rotate(360deg);}
}
.spinner {position: absolute;width:80px;height:80px;top:50%;left:50%;margin:-40px 0 0 -40px;min-width: 80px;min-height: 80px;}
.spinner:before {content: 'Loading��';position: absolute;top: 50%;left: 50%;width: 80px;height: 80px;margin-top: -40px;margin-left: -40px;}
.spinner:not(:required):before {content: '';border-radius: 50%;border: 3px solid #fff;border-top-color: #ffcc33;animation: spinner .6s linear infinite;-webkit-animation: spinner .6s linear infinite;}

div.toast-message {
  color: #FFFFFF;
}
.priceIn {
    -webkit-ime-mode:disabled;
    -moz-ime-mode:disabled;
    -ms-ime-mode:disabled;
    ime-mode:disabled;
}

.ui-autocomplete {
            max-height: 250px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
            padding-right: 20px;
            position:absolute;
    }
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 250px;
}